<div class="success popup">
    <img src="{{ 'box-close.png' | asset_url }}" class="close-success"/>
    <h2>Welcome to the gang!</h2>
    <p>Use code <span>EATMORENOOCH10</span> for <span>10%</span> off your first purchase!</p>
    <img id="footer-nooch-man" src="{{ 'Nooch_Macaroni.gif' | asset_url }}"/>
    <p><a class="clear-button" href="/products/nooch">Shop Now</a></p>
</div>