
{{ 'custom_pages.css' | asset_url | stylesheet_tag }}


<section class="wrapper  map-wrapper">
  
<!--
  <div>
    <h1 class="press-title">{{ page.title }}</h1>
  </div>
-->

  <div class="content">    
      <div id="map"></div>
     
  </div>

  
</section>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmzDJgfYNsv0N_6emAYvrU3oTtdGnfBFY&callback=initMap&libraries=&v=weekly" async></script>



<script>
    // MAP JS

    let map;

    function initMap() {
      map = new google.maps.Map(document.getElementById("map"), {
        center: new google.maps.LatLng(54.3914302,-2.9571094),
        zoom: 6,
        mapTypeControl: false,
        scaleControl: false,
        fullscreenControl: false,
        streetViewControl: false,
        styles: [
        {
            "featureType": "administrative.country",
            "elementType": "labels",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "administrative.province",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "administrative.locality",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "simplified"
                },
                {
                    "color": "#ffffff"
                }
            ]
        },
        {
            "featureType": "administrative.neighborhood",
            "elementType": "labels",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "administrative.land_parcel",
            "elementType": "labels",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "landscape",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#006450"
                }
            ]
        },
        {
            "featureType": "landscape.natural",
            "elementType": "labels",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#006450"
                }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "labels",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "road",
            "elementType": "all",
            "stylers": [
                {
                    "color": "#528e73"
                }
            ]
        },
        {
            "featureType": "road",
            "elementType": "labels",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "on"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "geometry.stroke",
            "stylers": [
                {
                    "visibility": "on"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "labels",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "road.arterial",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "road.local",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "transit",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "transit",
            "elementType": "labels",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "all",
            "stylers": [
                {
                    "color": "#edb5d2"
                }
            ]
        }
    ] 
      });

      //INFO WINDOW CONTENT  
      const GreensHealthFoodsContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Greens Health Foods</h2>' +
        '<div id="bodyContent">' +
        "<p>37 Rectory Grove, " +
        "Leigh on Sea, " +
        "Essex, " +
        "SS9 2HA </p> " +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const HaelanCentreLtdContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Haelan Centre Ltd</h2>' +
        '<div id="bodyContent">' +
        "<p>41 The Broadway, " +
        "Crouch End, " +
        "London, " +
        "N8 8DT </p> " +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const NaturelleContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Naturelle</h2>' +
        '<div id="bodyContent">' +
        "<p>59 Castle Street, " +
        "Forfar, " +
        "Angus, " +
        "DD8 3AG </p> " +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img class='bacon' src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/bacon-nooch-packet.png'/><p>Smoky Bacon Nooch</p>" +
        "</div>" +
        "</div>" +
        "</div>";
      const NaturesLarderContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Natures Larder</h2>' +
        '<div id="bodyContent">' +
        "<p>10 Glanvilles Mill, " +
        "Ivybridge, " +
        "Devon, " +
        "PL21 9PS </p> " +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img class='bacon' src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/bacon-nooch-packet.png'/><p>Smoky Bacon Nooch</p>" +
        "</div>" +
        "</div>" +
        "</div>";
      const OutofThisWorldContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Out of This World</h2>' +
        '<div id="bodyContent">' +
        "<p>Villa Street, " +
        "Beeston, " +
        "Nottingham, " +
        "NG9 2NY </p> " +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const PeppercornContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Peppercorn</h2>' +
        '<div id="bodyContent">' +
        "<p>77-79 Pasture Road, " +
        "Goole, " +
        "East Yorkshire, " +
        "DN14 6BP </p> " +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const TheGroceryContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">The Grocery</h2>' +
        '<div id="bodyContent">' +
        "<p>Shoreditch, " +
        "London, " +
        "E2 8DP </p> " +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const TheQualityDeliHealthFdsContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">The Quality Deli &amp; Health Fds</h2>' +
        '<div id="bodyContent">' +
        "<p>123 Douglas Street, " +
        "(off Sauchiehall Street ), " +
        "Glasgow, " +
        "G2 4HF </p> " +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img class='bacon' src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/bacon-nooch-packet.png'/><p>Smoky Bacon Nooch</p>" +
        "</div>" +
        "</div>" +
        "</div>";
      const GreenBayContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">GreenBay</h2>' +
        '<div id="bodyContent">' +
        "<p>228 North End Road, " +
        "West Kensington, " +
        "W14 9NU </p> " +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const TheVSpotContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">The V Spot</h2>' +
        '<div id="bodyContent">' +
        "<p>515 Mansfield Road, " +
        "Sherwood, " +
        "Nottingham, " +
        "NG5 2JL </p> " +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const SproutHealthFoodsContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Sprout Health Foods</h2>' +
        '<div id="bodyContent">' +
        "<p>The Old Printhouse, " +
        "Crescent Lane, " +
        "Newquay, " +
        "TR7 1FZ </p> " +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const TheVeganKindLtdContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">TheVeganKind Ltd</h2>' +
        '<div id="bodyContent">' +
        "<p>Herschel House, " +
        "8 Ashton Road, " +
        "Rutherglen, " +
        "G73 1UB </p> " +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
       const EighthDayContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">The Eighth Day Co-operative Ltd</h2>' +
        '<div id="bodyContent">' +
        "<p>111 Oxford Road, " +
        "Manchester, " +
        "M1 7DU </p> " +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const MightyWienersContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Mighty Wieners</h2>' +
        '<div id="bodyContent">' +
        "<p>23 Poole Hill, " +
        "Bournemouth , " +
        "BH2 5PW </p> " +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const GoodProperContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Good &amp; Proper Zero</h2>' +
        '<div id="bodyContent">' +
        "<p>57 Regent Street, " +
        "Weston-super-Mare, " +
        "BS23 1JS </p> " +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const SelfridgesLondonContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Selfridges &amp; Co</h2>' +
        '<div id="bodyContent">' +
        "<p>400 Oxford Street, " +
        "London, " +
        "W1A 1AB </p> " +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const SelfridgesBirminghamContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Selfridges &amp; Co</h2>' +
        '<div id="bodyContent">' +
        "<p>The Bullring, " +
        "Upper Mall East Birmingham, " +
        "B5 4BP </p> " +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const SelfridgesManchesterContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Selfridges &amp; Co</h2>' +
        '<div id="bodyContent">' +
        "<p>1 Exchange Square Central, " +
        "Manchester, " +
        "M3 1BD </p> " +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const SelfridgesTraffordContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Selfridges &amp; Co</h2>' +
        '<div id="bodyContent">' +
        "<p>The Trafford Centre, " +
        "Manchester, " +
        "M17 8DA </p> " +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const WholefoodsClaphamContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Wholefoods Clapham Junction</h2>' +
        '<div id="bodyContent">' +
        "<p>305-311 Lavender Hill, " +
        "London, " +
        "SW11 1LN </p> " +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const WholefoodsCamdenContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Wholefoods Camden</h2>' +
        '<div id="bodyContent">' +
        "<p>49 Parkway, " +
        "London, " +
        "NW1 7PN </p> " +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const WholefoodsFulhamContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Wholefoods Fulham</h2>' +
        '<div id="bodyContent">' +
        "<p>2-6 Fulham Broadway, " +
        "London, " +
        "SW6 1AA </p> " +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const WholefoodsKensingtonContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Wholefoods Kensington</h2>' +
        '<div id="bodyContent">' +
        "<p>63-97 Kensington High St, " +
        "London, " +
        "W8 5SE </p> " +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const WholefoodsPiccadillyContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Wholefoods Piccadilly Circus</h2>' +
        '<div id="bodyContent">' +
        "<p>20 Glasshouse St, " +
        "London, " +
        "W1B 5AR </p> " +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const WholefoodsRichmondContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Wholefoods Richmond</h2>' +
        '<div id="bodyContent">' +
        "<p>1-3 George St, " +
        "London, " +
        "TW9 1AB </p> " +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const WholefoodsStokeContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Wholefoods Stoke Newington</h2>' +
        '<div id="bodyContent">' +
        "<p>32-40 Stoke Newington Church St, " +
        "London, " +
        "N16 0LU </p> " +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const AardvarkContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Aardvark Wholefoods</h2>' +
        '<div id="bodyContent">' +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const CeresContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Ceres Natural Foods Ltd</h2>' +
        '<div id="bodyContent">' +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const ClareContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Clare James</h2>' +
        '<div id="bodyContent">' +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const ElffoodsContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Elffoods</h2>' +
        '<div id="bodyContent">' +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const FoodTherapyContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Food Therapy</h2>' +
        '<div id="bodyContent">' +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const GoodnessContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">For Goodness Sake</h2>' +
        '<div id="bodyContent">' +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const ForresContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Forres Health Food</h2>' +
        '<div id="bodyContent">' +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const GrampianContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Grampian Health Foods</h2>' +
        '<div id="bodyContent">' +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const HawthornContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Hawthorn Health</h2>' +
        '<div id="bodyContent">' +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const HealthMattersContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Health Matters</h2>' +
        '<div id="bodyContent">' +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const MeanwellContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Meanwell Wholefoods</h2>' +
        '<div id="bodyContent">' +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const MillstoneContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Millstone Wholefoods</h2>' +
        '<div id="bodyContent">' +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "</div>" +
        "</div>" +
        "</div>";
      const PeppercornYorkContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Peppercorn York</h2>' +
        '<div id="bodyContent">' +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const StourbridgeContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Stourbridge Health Store</h2>' +
        '<div id="bodyContent">' +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const GreenhouseContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">The Greenhouse Health Food Centre</h2>' +
        '<div id="bodyContent">' +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const CrabtreeContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Crabtree Place</h2>' +
        '<div id="bodyContent">' +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const BreadContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Daily Bread Co-Operative Ltd</h2>' +
        '<div id="bodyContent">' +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const NuContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Nu Roots</h2>' +
        '<div id="bodyContent">' +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const VeganmaturContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Veganmatur ehf</h2>' +
        '<div id="bodyContent">' +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const JshealthContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">JS Health Ltd</h2>' +
        '<div id="bodyContent">' +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const AgainstContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Against The Grain Ltd</h2>' +
        '<div id="bodyContent">' +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const PurpleContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Purple Carrot</h2>' +
        '<div id="bodyContent">' +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const HealthPharmContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Health Pharm Ltd</h2>' +
        '<div id="bodyContent">' +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";
      const AlternativeContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Alternative Stores Ltd</h2>' +
        '<div id="bodyContent">' +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "</div>" +
        "</div>" +
        "</div>";
      const VrajContentString =
        '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<h2 id="firstHeading" class="firstHeading">Vraj RCH Limited</h2>' +
        '<div id="bodyContent">' +
        "<p>Available Flavours:</p> " +
        "<div class='popup-nooch'><img src='https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/nooch-packets.png?v=1636019107'/><p>Smoky Bacon Nooch</p>" +
        "<p>Cheesy Immature Nooch</p></div>" +
        "</div>" +
        "</div>";

      const GreensHealthFoodsInfowindow = new google.maps.InfoWindow({
        content: GreensHealthFoodsContentString,
      });
      const HaelanCentreLtdInfowindow = new google.maps.InfoWindow({
        content: HaelanCentreLtdContentString,
      });
      const NaturelleInfowindow = new google.maps.InfoWindow({
        content: NaturelleContentString,
        pixelOffset: new google.maps.Size(0, 300)
      });
      const NaturesLarderInfowindow = new google.maps.InfoWindow({
        content: NaturesLarderContentString,
      });
      const OutofThisWorldInfowindow = new google.maps.InfoWindow({
        content: OutofThisWorldContentString,
      });
      const PeppercornInfowindow = new google.maps.InfoWindow({
        content: PeppercornContentString,
      });
      const TheGroceryInfowindow = new google.maps.InfoWindow({
        content: TheGroceryContentString,
      });
      const TheQualityDeliHealthFdsInfowindow = new google.maps.InfoWindow({
        content: TheQualityDeliHealthFdsContentString,
        pixelOffset: new google.maps.Size(0, 300)
      });
      const GreenBayInfowindow = new google.maps.InfoWindow({
        content: GreenBayContentString,
      });
      const TheVSpotInfowindow = new google.maps.InfoWindow({
        content: TheVSpotContentString,
      });
      const SproutHealthFoodsInfowindow = new google.maps.InfoWindow({
        content: SproutHealthFoodsContentString,
      });
      const TheVeganKindLtdInfowindow = new google.maps.InfoWindow({
        content: TheVeganKindLtdContentString,
        pixelOffset: new google.maps.Size(0, 300)
      });
      const EighthDayInfowindow = new google.maps.InfoWindow({
        content: EighthDayContentString,
        pixelOffset: new google.maps.Size(0, 300)
      });
      const MightyWienersInfowindow = new google.maps.InfoWindow({
        content: MightyWienersContentString,
        pixelOffset: new google.maps.Size(0, 300)
      });
      const GoodProperInfowindow = new google.maps.InfoWindow({
        content: GoodProperContentString,
        pixelOffset: new google.maps.Size(0, 300)
      });
      const SelfridgesLondonInfowindow = new google.maps.InfoWindow({
        content: SelfridgesLondonContentString,
      });
      const SelfridgesBirminghamInfowindow = new google.maps.InfoWindow({
        content: SelfridgesBirminghamContentString,
      });
      const SelfridgesManchesterInfowindow = new google.maps.InfoWindow({
        content: SelfridgesManchesterContentString,
      });
      const SelfridgesTraffordInfowindow = new google.maps.InfoWindow({
        content: SelfridgesTraffordContentString,
      });
      const WholefoodsClaphamInfowindow = new google.maps.InfoWindow({
        content: WholefoodsClaphamContentString,
      });
      const WholefoodsCamdenInfowindow = new google.maps.InfoWindow({
        content: WholefoodsCamdenContentString,
      });
      const WholefoodsFulhamInfowindow = new google.maps.InfoWindow({
        content: WholefoodsFulhamContentString,
      });
      const WholefoodsKensingtonInfowindow = new google.maps.InfoWindow({
        content: WholefoodsKensingtonContentString,
      });
      const WholefoodsPiccadillyInfowindow = new google.maps.InfoWindow({
        content: WholefoodsPiccadillyContentString,
      });
      const WholefoodsRichmondInfowindow = new google.maps.InfoWindow({
        content: WholefoodsRichmondContentString,
      });
      const WholefoodsStokeInfowindow = new google.maps.InfoWindow({
        content: WholefoodsStokeContentString,
      });
      const AardvarkInfowindow = new google.maps.InfoWindow({
        content: AardvarkContentString,
      });
      const CeresInfowindow = new google.maps.InfoWindow({
        content: CeresContentString,
      });
      const ClareInfowindow = new google.maps.InfoWindow({
        content: ClareContentString,
      });
      const ElffoodsInfowindow = new google.maps.InfoWindow({
        content: ElffoodsContentString,
      });
      const FoodTherapyInfowindow = new google.maps.InfoWindow({
        content: FoodTherapyContentString,
      });
      const GoodnessInfowindow = new google.maps.InfoWindow({
        content: GoodnessContentString,
      });
      const ForresInfowindow = new google.maps.InfoWindow({
        content: ForresContentString,
      });
      const GrampianInfowindow = new google.maps.InfoWindow({
        content: GrampianContentString,
      });
      const HawthornInfowindow = new google.maps.InfoWindow({
        content: HawthornContentString,
      });
      const HealthMattersInfowindow = new google.maps.InfoWindow({
        content: HealthMattersContentString,
      });
      const MeanwellInfowindow = new google.maps.InfoWindow({
        content: MeanwellContentString,
      });
      const MillstoneInfowindow = new google.maps.InfoWindow({
        content: MillstoneContentString,
      });
      const PeppercornYorkInfowindow = new google.maps.InfoWindow({
        content: PeppercornYorkContentString,
      });
      const StourbridgeInfowindow = new google.maps.InfoWindow({
        content: StourbridgeContentString,
      });
      const GreenhouseInfowindow = new google.maps.InfoWindow({
        content: GreenhouseContentString,
      });
      const CrabtreeInfowindow = new google.maps.InfoWindow({
        content: CrabtreeContentString,
      });
      const BreadInfowindow = new google.maps.InfoWindow({
        content: BreadContentString,
      });
      const NuInfowindow = new google.maps.InfoWindow({
        content: NuContentString,
      });
      const VeganmaturInfowindow = new google.maps.InfoWindow({
        content: VeganmaturContentString,
      });
      const JshealthInfowindow = new google.maps.InfoWindow({
        content: JshealthContentString,
      });
      const AgainstInfowindow = new google.maps.InfoWindow({
        content: AgainstContentString,
      });
      const PurpleInfowindow = new google.maps.InfoWindow({
        content: PurpleContentString,
      });
      const HealthPharmInfowindow = new google.maps.InfoWindow({
        content: HealthPharmContentString,
      });
      const AlternativeInfowindow = new google.maps.InfoWindow({
        content: AlternativeContentString,
      });
      const VrajInfowindow = new google.maps.InfoWindow({
        content: VrajContentString,
      });
      

      const GreensHealthFoodsMarker = new google.maps.Marker({
        position: new google.maps.LatLng(51.5425492,0.6530483),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const HaelanCentreLtdMarker = new google.maps.Marker({
        position: new google.maps.LatLng(51.5797418,-0.1242023),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const NaturelleMarker = new google.maps.Marker({
        position: new google.maps.LatLng(56.6452272,-2.8890898),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const NaturesLarderMarker = new google.maps.Marker({
        position: new google.maps.LatLng(50.3889534,-3.9209275),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const OutofThisWorldMarker = new google.maps.Marker({
        position: new google.maps.LatLng(52.9286623,-1.2161961),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const PeppercornMarker = new google.maps.Marker({
        position: new google.maps.LatLng(53.7058768,-0.8754522),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const TheGroceryMarker = new google.maps.Marker({
        position: new google.maps.LatLng(51.5289244,-0.0777682),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const TheQualityDeliHealthFdsMarker = new google.maps.Marker({
        position: new google.maps.LatLng(55.8651089,-4.263600),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const GreenBayMarker = new google.maps.Marker({
        position: new google.maps.LatLng(51.4858979,-0.2030304),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const TheVSpotMarker = new google.maps.Marker({
        position: new google.maps.LatLng(52.9805488,-1.1471443),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const SproutHealthFoodsMarker = new google.maps.Marker({
        position: new google.maps.LatLng(50.4138702,-5.0840865),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const TheVeganKindLtdMarker = new google.maps.Marker({
        position: new google.maps.LatLng(55.8329055,-4.2163013),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const EighthDayMarker = new google.maps.Marker({
        position: new google.maps.LatLng(53.4710639,-2.2376962),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const MightyWienersMarker = new google.maps.Marker({
        position: new google.maps.LatLng(50.719523,-1.887116),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const GoodProperMarker = new google.maps.Marker({
        position: new google.maps.LatLng(51.3474412,-2.9776988),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const SelfridgesLondonMarker = new google.maps.Marker({
        position: new google.maps.LatLng(51.514633,-0.155015),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const SelfridgesBirminghamMarker = new google.maps.Marker({
        position: new google.maps.LatLng(52.478100,-1.892500),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const SelfridgesManchesterMarker = new google.maps.Marker({
        position: new google.maps.LatLng(53.4839615,-2.2437811),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const SelfridgesTraffordMarker = new google.maps.Marker({
        position: new google.maps.LatLng(53.466499,-2.347700),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const WholefoodsClaphamMarker = new google.maps.Marker({
        position: new google.maps.LatLng(51.463737,-0.166654),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const WholefoodsCamdenMarker = new google.maps.Marker({
        position: new google.maps.LatLng(51.53791,-0.144553),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const WholefoodsFulhamMarker = new google.maps.Marker({
        position: new google.maps.LatLng(51.479979,-0.196419),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const WholefoodsKensingtonMarker = new google.maps.Marker({
        position: new google.maps.LatLng(51.501697,-0.190509),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const WholefoodsPiccadillyMarker = new google.maps.Marker({
        position: new google.maps.LatLng(51.510622,-0.136321),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const WholefoodsRichmondMarker = new google.maps.Marker({
        position: new google.maps.LatLng(51.461012,-0.303179),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const WholefoodsStokeMarker = new google.maps.Marker({
        position: new google.maps.LatLng(51.56222,-0.075221),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const AardvarkMarker = new google.maps.Marker({
        position: new google.maps.LatLng(51.8566245,-4.3092368),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const CeresMarker = new google.maps.Marker({
        position: new google.maps.LatLng(50.9418276,-2.6343077),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const ClareMarker = new google.maps.Marker({
        position: new google.maps.LatLng(51.7145601,-0.4510152),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const ElffoodsMarker = new google.maps.Marker({
        position: new google.maps.LatLng(52.7717138,-1.2085535),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const FoodTherapyMarker = new google.maps.Marker({
        position: new google.maps.LatLng(53.7239494,-1.85992),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const GoodnessMarker = new google.maps.Marker({
        position: new google.maps.LatLng(54.5243453,-1.2163191),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const ForresMarker = new google.maps.Marker({
        position: new google.maps.LatLng(57.6100084,-3.6138349),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const GrampianMarker = new google.maps.Marker({
        position: new google.maps.LatLng(57.1460849,-2.0969382),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const HawthornMarker = new google.maps.Marker({
        position: new google.maps.LatLng(54.204634,-6.3428114),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const HealthMattersMarker = new google.maps.Marker({
        position: new google.maps.LatLng(53.3427039,-6.2595449),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const MeanwellMarker = new google.maps.Marker({
        position: new google.maps.LatLng(52.8435859,-8.9847015),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const MillstoneMarker = new google.maps.Marker({
        position: new google.maps.LatLng(56.4112528,-5.4722574),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const PeppercornYorkMarker = new google.maps.Marker({
        position: new google.maps.LatLng(53.9298255,-0.7801245),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const StourbridgeMarker = new google.maps.Marker({
        position: new google.maps.LatLng(52.4565673,-2.1467685),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
	  const GreenhouseMarker = new google.maps.Marker({
        position: new google.maps.LatLng(53.3827661,-2.3507962),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const CrabtreeMarker = new google.maps.Marker({
        position: new google.maps.LatLng(52.0278851,1.2056331),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const BreadMarker = new google.maps.Marker({
        position: new google.maps.LatLng(52.2324875,-0.8732932),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const NuMarker = new google.maps.Marker({
        position: new google.maps.LatLng(52.9801611,-1.1469265),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const VeganmaturMarker = new google.maps.Marker({
        position: new google.maps.LatLng(64.0755491,-21.9526554),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const JshealthMarker = new google.maps.Marker({
        position: new google.maps.LatLng(51.8178464,-0.358201),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const AgainstMarker = new google.maps.Marker({
        position: new google.maps.LatLng(54.3115825,-4.3825124),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const PurpleMarker = new google.maps.Marker({
        position: new google.maps.LatLng(53.3897024,-2.9214709),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const HealthPharmMarker = new google.maps.Marker({
        position: new google.maps.LatLng(52.5324433,-1.0432298),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const AlternativeMarker = new google.maps.Marker({
        position: new google.maps.LatLng(54.995221,-1.4653319),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });
      const VrajMarker = new google.maps.Marker({
        position: new google.maps.LatLng(52.118882,-0.4559921),
        map,
        icon: "https://cdn.shopify.com/s/files/1/0606/1916/1805/t/3/assets/location-pin-yellow-small.png",
      });

      GreensHealthFoodsMarker.addListener("click", () => {
          closeInfoWindows();
        GreensHealthFoodsInfowindow.open({
          anchor: GreensHealthFoodsMarker,
          map,
          shouldFocus: true,
        });
      });
      HaelanCentreLtdMarker.addListener("click", () => {
          closeInfoWindows();
        HaelanCentreLtdInfowindow.open({
          anchor: HaelanCentreLtdMarker,
          map,
          shouldFocus: true,
        });
      });
      NaturelleMarker.addListener("click", () => {
          closeInfoWindows();
        NaturelleInfowindow.open({
          anchor: NaturelleMarker,
          map,
          shouldFocus: true,
        });
      });
      NaturesLarderMarker.addListener("click", () => {
          closeInfoWindows();
        NaturesLarderInfowindow.open({
          anchor: NaturesLarderMarker,
          map,
          shouldFocus: true,
        });
      });
      OutofThisWorldMarker.addListener("click", () => {
          closeInfoWindows();
        OutofThisWorldInfowindow.open({
          anchor: OutofThisWorldMarker,
          map,
          shouldFocus: true,
        });
      });
      PeppercornMarker.addListener("click", () => {
          closeInfoWindows();
        PeppercornInfowindow.open({
          anchor: PeppercornMarker,
          map,
          shouldFocus: true,
        });
      });
      TheGroceryMarker.addListener("click", () => {
          closeInfoWindows();
        TheGroceryInfowindow.open({
          anchor: TheGroceryMarker,
          map,
          shouldFocus: true,
        });
      });
      TheQualityDeliHealthFdsMarker.addListener("click", () => {
          closeInfoWindows();
        TheQualityDeliHealthFdsInfowindow.open({
          anchor: TheQualityDeliHealthFdsMarker,
          map,
          shouldFocus: true,
        });
      });
      GreenBayMarker.addListener("click", () => {
          closeInfoWindows();
        GreenBayInfowindow.open({
          anchor: GreenBayMarker,
          map,
          shouldFocus: true,
        });
      });
      TheVSpotMarker.addListener("click", () => {
          closeInfoWindows();
        TheVSpotInfowindow.open({
          anchor: TheVSpotMarker,
          map,
          shouldFocus: true,
        });
      });
      SproutHealthFoodsMarker.addListener("click", () => {
          closeInfoWindows();
        SproutHealthFoodsInfowindow.open({
          anchor: SproutHealthFoodsMarker,
          map,
          shouldFocus: true,
        });
      });
      TheVeganKindLtdMarker.addListener("click", () => {
          closeInfoWindows();
        TheVeganKindLtdInfowindow.open({
          anchor: TheVeganKindLtdMarker,
          map,
          shouldFocus: true,
        });
      });
      EighthDayMarker.addListener("click", () => {
          closeInfoWindows();
        EighthDayInfowindow.open({
          anchor: EighthDayMarker,
          map,
          shouldFocus: true,
        });
      });
      MightyWienersMarker.addListener("click", () => {
          closeInfoWindows();
        MightyWienersInfowindow.open({
          anchor: MightyWienersMarker,
          map,
          shouldFocus: true,
        });
      });
      GoodProperMarker.addListener("click", () => {
          closeInfoWindows();
        GoodProperInfowindow.open({
          anchor: GoodProperMarker,
          map,
          shouldFocus: true,
        });
      });
  	  SelfridgesLondonMarker.addListener("click", () => {
          closeInfoWindows();
        SelfridgesLondonInfowindow.open({
          anchor: SelfridgesLondonMarker,
          map,
          shouldFocus: true,
        });
      });
      SelfridgesBirminghamMarker.addListener("click", () => {
          closeInfoWindows();
        SelfridgesBirminghamInfowindow.open({
          anchor: SelfridgesBirminghamMarker,
          map,
          shouldFocus: true,
        });
      });
      SelfridgesManchesterMarker.addListener("click", () => {
          closeInfoWindows();
        SelfridgesManchesterInfowindow.open({
          anchor: SelfridgesManchesterMarker,
          map,
          shouldFocus: true,
        });
      });
      SelfridgesTraffordMarker.addListener("click", () => {
          closeInfoWindows();
        SelfridgesTraffordInfowindow.open({
          anchor: SelfridgesTraffordMarker,
          map,
          shouldFocus: true,
        });
      });
  		WholefoodsClaphamMarker.addListener("click", () => {
          closeInfoWindows();
        WholefoodsClaphamInfowindow.open({
          anchor: WholefoodsClaphamMarker,
          map,
          shouldFocus: true,
        });
      });
  WholefoodsCamdenMarker.addListener("click", () => {
          closeInfoWindows();
        WholefoodsCamdenInfowindow.open({
          anchor: WholefoodsCamdenMarker,
          map,
          shouldFocus: true,
        });
      });
  WholefoodsFulhamMarker.addListener("click", () => {
          closeInfoWindows();
        WholefoodsFulhamInfowindow.open({
          anchor: WholefoodsFulhamMarker,
          map,
          shouldFocus: true,
        });
      });
  WholefoodsKensingtonMarker.addListener("click", () => {
          closeInfoWindows();
        WholefoodsKensingtonInfowindow.open({
          anchor: WholefoodsKensingtonMarker,
          map,
          shouldFocus: true,
        });
      });
  WholefoodsPiccadillyMarker.addListener("click", () => {
          closeInfoWindows();
        WholefoodsPiccadillyInfowindow.open({
          anchor: WholefoodsPiccadillyMarker,
          map,
          shouldFocus: true,
        });
      });
  WholefoodsRichmondMarker.addListener("click", () => {
          closeInfoWindows();
        WholefoodsRichmondInfowindow.open({
          anchor: WholefoodsRichmondMarker,
          map,
          shouldFocus: true,
        });
      });
  WholefoodsStokeMarker.addListener("click", () => {
          closeInfoWindows();
        WholefoodsStokeInfowindow.open({
          anchor: WholefoodsStokeMarker,
          map,
          shouldFocus: true,
        });
      });
  AardvarkMarker.addListener("click", () => {
          closeInfoWindows();
        AardvarkInfowindow.open({
          anchor: AardvarkMarker,
          map,
          shouldFocus: true,
        });
      });
  CeresMarker.addListener("click", () => {
          closeInfoWindows();
        CeresInfowindow.open({
          anchor: CeresMarker,
          map,
          shouldFocus: true,
        });
      });
  ClareMarker.addListener("click", () => {
          closeInfoWindows();
        ClareInfowindow.open({
          anchor: ClareMarker,
          map,
          shouldFocus: true,
        });
      });
  ElffoodsMarker.addListener("click", () => {
          closeInfoWindows();
        ElffoodsInfowindow.open({
          anchor: ElffoodsMarker,
          map,
          shouldFocus: true,
        });
      });
  FoodTherapyMarker.addListener("click", () => {
          closeInfoWindows();
        FoodTherapyInfowindow.open({
          anchor: FoodTherapyMarker,
          map,
          shouldFocus: true,
        });
      });
  GoodnessMarker.addListener("click", () => {
          closeInfoWindows();
        GoodnessInfowindow.open({
          anchor: GoodnessMarker,
          map,
          shouldFocus: true,
        });
      });
  ForresMarker.addListener("click", () => {
          closeInfoWindows();
        ForresInfowindow.open({
          anchor: ForresMarker,
          map,
          shouldFocus: true,
        });
      });
  GrampianMarker.addListener("click", () => {
          closeInfoWindows();
        GrampianInfowindow.open({
          anchor: GrampianMarker,
          map,
          shouldFocus: true,
        });
      });
  HawthornMarker.addListener("click", () => {
          closeInfoWindows();
        HawthornInfowindow.open({
          anchor: HawthornMarker,
          map,
          shouldFocus: true,
        });
      });
  HealthMattersMarker.addListener("click", () => {
          closeInfoWindows();
        HealthMattersInfowindow.open({
          anchor: HealthMattersMarker,
          map,
          shouldFocus: true,
        });
      });
  MeanwellMarker.addListener("click", () => {
          closeInfoWindows();
        MeanwellInfowindow.open({
          anchor: MeanwellMarker,
          map,
          shouldFocus: true,
        });
      });
  MillstoneMarker.addListener("click", () => {
          closeInfoWindows();
        MillstoneInfowindow.open({
          anchor: MillstoneMarker,
          map,
          shouldFocus: true,
        });
      });
  PeppercornYorkMarker.addListener("click", () => {
          closeInfoWindows();
        PeppercornYorkInfowindow.open({
          anchor: PeppercornYorkMarker,
          map,
          shouldFocus: true,
        });
      });
  StourbridgeMarker.addListener("click", () => {
          closeInfoWindows();
        StourbridgeInfowindow.open({
          anchor: StourbridgeMarker,
          map,
          shouldFocus: true,
        });
      });
  GreenhouseMarker.addListener("click", () => {
          closeInfoWindows();
        GreenhouseInfowindow.open({
          anchor: GreenhouseMarker,
          map,
          shouldFocus: true,
        });
      });
  CrabtreeMarker.addListener("click", () => {
          closeInfoWindows();
        CrabtreeInfowindow.open({
          anchor: CrabtreeMarker,
          map,
          shouldFocus: true,
        });
      });
  BreadMarker.addListener("click", () => {
          closeInfoWindows();
        BreadInfowindow.open({
          anchor: BreadMarker,
          map,
          shouldFocus: true,
        });
      });
  NuMarker.addListener("click", () => {
          closeInfoWindows();
        NuInfowindow.open({
          anchor: NuMarker,
          map,
          shouldFocus: true,
        });
      });
  VeganmaturMarker.addListener("click", () => {
          closeInfoWindows();
        VeganmaturInfowindow.open({
          anchor: VeganmaturMarker,
          map,
          shouldFocus: true,
        });
      });
  JshealthMarker.addListener("click", () => {
          closeInfoWindows();
        JshealthInfowindow.open({
          anchor: JshealthMarker,
          map,
          shouldFocus: true,
        });
      });
  AgainstMarker.addListener("click", () => {
          closeInfoWindows();
        AgainstInfowindow.open({
          anchor: AgainstMarker,
          map,
          shouldFocus: true,
        });
      });
  PurpleMarker.addListener("click", () => {
          closeInfoWindows();
        PurpleInfowindow.open({
          anchor: PurpleMarker,
          map,
          shouldFocus: true,
        });
      });
  HealthPharmMarker.addListener("click", () => {
          closeInfoWindows();
        HealthPharmInfowindow.open({
          anchor: HealthPharmMarker,
          map,
          shouldFocus: true,
        });
      });
  AlternativeMarker.addListener("click", () => {
          closeInfoWindows();
        AlternativeInfowindow.open({
          anchor: AlternativeMarker,
          map,
          shouldFocus: true,
        });
      });
  VrajMarker.addListener("click", () => {
          closeInfoWindows();
        VrajInfowindow.open({
          anchor: VrajMarker,
          map,
          shouldFocus: true,
        });
      });
  
        
        function closeInfoWindows() {
            GreensHealthFoodsInfowindow.close();
            HaelanCentreLtdInfowindow.close();
            NaturelleInfowindow.close();
            NaturesLarderInfowindow.close();
            OutofThisWorldInfowindow.close();
            PeppercornInfowindow.close();
            TheGroceryInfowindow.close();
            TheQualityDeliHealthFdsInfowindow.close();
            GreenBayInfowindow.close();
            TheVSpotInfowindow.close();
            SproutHealthFoodsInfowindow.close();
            TheVeganKindLtdInfowindow.close();
            EighthDayInfowindow.close();
            MightyWienersInfowindow.close();
            GoodProperInfowindow.close();
          SelfridgesLondonInfowindow.close();
          SelfridgesBirminghamInfowindow.close();
          SelfridgesManchesterInfowindow.close();
          SelfridgesTraffordInfowindow.close();
          WholefoodsClaphamInfowindow.close();
          WholefoodsCamdenInfowindow.close();
          WholefoodsFulhamInfowindow.close();
          WholefoodsKensingtonInfowindow.close();
          WholefoodsPiccadillyInfowindow.close();
          WholefoodsRichmondInfowindow.close();
          WholefoodsStokeInfowindow.close();
          AardvarkInfowindow.close();
          CeresInfowindow.close();
          ClareInfowindow.close();
          ElffoodsInfowindow.close();
          FoodTherapyInfowindow.close();
          GoodnessInfowindow.close();
          ForresInfowindow.close();
          GrampianInfowindow.close();
          HawthornInfowindow.close();
          HealthMattersInfowindow.close();
          MeanwellInfowindow.close();
          MillstoneInfowindow.close();
          PeppercornYorkInfowindow.close();
          StourbridgeInfowindow.close();
          GreenhouseInfowindow.close();
          CrabtreeInfowindow.close();
          BreadInfowindow.close();
          NuInfowindow.close();
          VeganmaturInfowindow.close();
          JshealthInfowindow.close();
          AgainstInfowindow.close();
          PurpleInfowindow.close();
          HealthPharmInfowindow.close();
          AlternativeInfowindow.close();
          VrajInfowindow.close();
        }

        const greenhealthfoodsLink = document.getElementById('greenhealthfoods');
        const haelancentreltdLink = document.getElementById('haelancentreltd');
        const naturelleLink = document.getElementById('naturelle');
        const natureslarderLink = document.getElementById('natureslarder');
        const outofthisworldLink = document.getElementById('outofthisworld');
        const peppercornLink = document.getElementById('peppercorn');
        const thegroceryLink = document.getElementById('thegrocery');
        const thequalitydelihealthfdsLink = document.getElementById('thequalitydelihealthfds');
        const greenbayLink = document.getElementById('greenbay');
        const thevspotLink = document.getElementById('thevspot');
        const sprouthealthfoodsLink = document.getElementById('sprouthealthfoods');
        const thevegankindLink = document.getElementById('thevegankind');
        const theeigthdaycooperativeLink = document.getElementById('theeigthdaycooperative');
        const mightywienersLink = document.getElementById('mightywieners');
        const goodproperzeroLink = document.getElementById('goodproperzero');
  const selfridgeslondonLink = document.getElementById('selfridgeslondon');
  const selfridgesbirminghamLink = document.getElementById('selfridgesbirmingham');
  const selfridgesmanchesterLink = document.getElementById('selfridgesmanchester');
  const selfridgestraffordLink = document.getElementById('selfridgestrafford');
  const wholefoodsclaphamLink = document.getElementById('wholefoodsclapham');
  const wholefoodscamdenLink = document.getElementById('wholefoodscamden');
  const wholefoodsfulhamLink = document.getElementById('wholefoodsfulham');
  const wholefoodskensingtonLink = document.getElementById('wholefoodskensington');
  const wholefoodspiccadillyLink = document.getElementById('wholefoodspiccadilly');
  const wholefoodsrichmondLink = document.getElementById('wholefoodsrichmond');
  const wholefoodsstokeLink = document.getElementById('wholefoodsstoke');
  const aardvarkLink = document.getElementById('aardvark');
  const ceresLink = document.getElementById('ceres');
  const clareLink = document.getElementById('clare');
  const elffoodsLink = document.getElementById('elffoods');
  const foodtherapyLink = document.getElementById('foodtherapy');
  const goodnessLink = document.getElementById('goodness');
  const forresLink = document.getElementById('forres');
  const grampianLink = document.getElementById('grampian');
  const hawthornLink = document.getElementById('hawthorn');
  const healthmattersLink = document.getElementById('healthmatters');
  const meanwellLink = document.getElementById('meanwell');
  const millstoneLink = document.getElementById('millstone');
  const peppercornyorkLink = document.getElementById('peppercornyork');
  const stourbridgeLink = document.getElementById('stourbridge');
  const greenhouseLink = document.getElementById('greenhouse');
  const crabtreeLink = document.getElementById('crabtree');
  const breadLink = document.getElementById('bread');
  const nuLink = document.getElementById('nu');
  const veganmaturLink = document.getElementById('veganmatur');
  const jshealthLink = document.getElementById('jshealth');
  const againstLink = document.getElementById('against');
  const purpleLink = document.getElementById('purple');
  const healthpharmLink = document.getElementById('healthpharm');
  const alternativeLink = document.getElementById('alternative');
  const vrajLink = document.getElementById('vraj');
        
        

//         greenhealthfoodsLink.addEventListener("mouseover", () => {
//             GreensHealthFoodsInfowindow.open({
//               anchor: GreensHealthFoodsMarker,
//               map,
//               shouldFocus: false,
//             });
//           });
//        greenhealthfoodsLink.addEventListener("click", () => {
//         GreensHealthFoodsInfowindow.open({
//           anchor: GreensHealthFoodsMarker,
//           map,
//           shouldFocus: false,
//         });
//       });
//       haelancentreltdLink.addEventListener("click", () => {
//         HaelanCentreLtdInfowindow.open({
//           anchor: HaelanCentreLtdMarker,
//           map,
//           shouldFocus: false,
//         });
//       });
//       naturelleLink.addEventListener("click", () => {
//         NaturelleInfowindow.open({
//           anchor: NaturelleMarker,
//           map,
//           shouldFocus: false,
//         });
//       });
//       natureslarderLink.addEventListener("click", () => {
//         NaturesLarderInfowindow.open({
//           anchor: NaturesLarderMarker,
//           map,
//           shouldFocus: false,
//         });
//       });
//       outofthisworldLink.addEventListener("click", () => {
//         OutofThisWorldInfowindow.open({
//           anchor: OutofThisWorldMarker,
//           map,
//           shouldFocus: false,
//         });
//       });
//       peppercornLink.addEventListener("click", () => {
//         PeppercornInfowindow.open({
//           anchor: PeppercornMarker,
//           map,
//           shouldFocus: false,
//         });
//       });
//       thegroceryLink.addEventListener("click", () => {
//         TheGroceryInfowindow.open({
//           anchor: TheGroceryMarker,
//           map,
//           shouldFocus: false,
//         });
//       });
//       thequalitydelihealthfdsLink.addEventListener("click", () => {
//         TheQualityDeliHealthFdsInfowindow.open({
//           anchor: TheQualityDeliHealthFdsMarker,
//           map,
//           shouldFocus: false,
//         });
//       });
//       greenbayLink.addEventListener("click", () => {
//         GreenBayInfowindow.open({
//           anchor: GreenBayMarker,
//           map,
//           shouldFocus: false,
//         });
//       });
//       thevspotLink.addEventListener("click", () => {
//         TheVSpotInfowindow.open({
//           anchor: TheVSpotMarker,
//           map,
//           shouldFocus: false,
//         });
//       });
//       sprouthealthfoodsLink.addEventListener("click", () => {
//         SproutHealthFoodsInfowindow.open({
//           anchor: SproutHealthFoodsMarker,
//           map,
//           shouldFocus: false,
//         });
//       });
//       thevegankindLink.addEventListener("click", () => {
//         TheVeganKindLtdInfowindow.open({
//           anchor: TheVeganKindLtdMarker,
//           map,
//           shouldFocus: false,
//         });
//       });
//       theeigthdaycooperativeLink.addEventListener("click", () => {
//         EighthDayInfowindow.open({
//           anchor: EighthDayMarker,
//           map,
//           shouldFocus: false,
//         });
//       });
//       mightywienersLink.addEventListener("click", () => {
//         MightyWienersInfowindow.open({
//           anchor: MightyWienersMarker,
//           map,
//           shouldFocus: false,
//         });
//       });
//       goodproperzeroLink.addEventListener("click", () => {
//         GoodProperInfowindow.open({
//           anchor: GoodProperMarker,
//           map,
//           shouldFocus: false,
//         });
//       });

    }

</script>


{{ 'custom-pages.js' | asset_url | script_tag }} 










