
<div id="container" class="horizontal-container">
  <div class="module">
  	<section class="module home-featured-product bacon">
		<div class="lettering-container">
			<p class="lettering pink background-text">Smoky</p>
		</div>
		<div class="content-container">
			<img src="assets/images/bacon-nooch-packet.png"/>
			<div class="button-container"><a class="clear-button" href="#">shop now</a></div>
		</div>
	</section>
  </div>
  <!-- <div class="module" data-scrollcolor="#006450"> -->
  	<div class="module">
  	<section class="module home-featured-product cheese">
		<div class="lettering-container">
			<p class="lettering pink background-text">Cheese</p>
		</div>
		<div class="content-container">
			<img src="assets/images/cheesy-nooch-packet.png"/>
			<div class="button-container"><a class="clear-button" href="#">shop now</a></div>
		</div>
	</section>
  </div>
</div>