body.product {
    background-color: var(--pink);
}
body.product .marquee {
    position: fixed;
    bottom: 0;
    left: 0;
    
}
body.product .spaced-section {
    margin-top: 0;
    margin-bottom: 0; 
}
body.product .product__info-wrapper {
    padding-right: 4rem;
}
body.product .product__info-container--sticky {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
body.product a.header__icon--cart {
    color: var(--green);
}

body.product h1.product__title {
    font-size: 14rem;
    line-height: 13rem;
    margin-bottom: 0;
    color: var(--green);
    width: 100%;
}

body.product fieldset.product-form__input .form__label {
    text-transform: uppercase;
    color: var(--green);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1rem;
}

body.product variant-radios {
    width: 100%;
}
body.product .product-form__input {
    width: 100%;
    text-align: center;
    max-width: 100%;
    display: flex;
}

body.product .product-form__input input[type='radio'] + label {
    border-color: var(--green);
    border-radius: 0;
    margin:0;
    color: var(--green);
    width:100%;
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 1.5rem;
    background: linear-gradient(to left, var(--pink) 50%, var(--green) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}
body.product .product-form__input input[type='radio'] + label:nth-child(3) {
    background: linear-gradient(to right, var(--pink) 50%, var(--green) 50%) left;
    background-size: 200%;
}
body.product .product-form__input input[type='radio']:checked + label:nth-child(3) {
    background-position: right;
}


body.product .product-form__input input[type='radio'] + label:hover {
    color: var(--darkpink);
}
body.product .product-form__input input[type='radio']:checked + label {
    background-color: var(--green);
    color: var(--pink);
    background-position: left;
}

body.product .product-form__input input[type='radio']:checked + label:hover {
    cursor: auto;
}

body.product .buy-buttons {
    margin: 0;
    flex: 0 75%;
}
body.product .buy-buttons .product-form {
    margin: 0;
}
body.product .product-form__buttons button {
    background-color: var(--darkpink);
    border: 0;
    box-shadow: none;
    color: var(--pink);
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1em 20px;
    margin-bottom: 0;
    
}
body.product .product-form__buttons button .button-price {
    margin-left: 5px;
}
body.product .product-form__buttons button .price {
    color: var(--pink);
    display: inline;
}
body.product .product-form__buttons button .price dl, body.product .product-form__buttons button .price dd, body.product .product-form__buttons button .price dt {
    display: inline;
    margin-right: 0;
}
body.product .product-form__buttons button .price--sold-out body.product .product-form__buttons button .price__availability, body.product .product-form__buttons button .price__regular {
    display: inline;
}
body.product .product-form__buttons button:hover {
    background-color: var(--green);
    box-shadow: none;
}

body.product .product__description {
    color: var(--green);
    font-size: 1.5rem;
    width: 100%;
}

body.product .quantity-cart {
    display: flex;
    border: 1px solid var(--green);
    justify-content: space-between;
    border-radius: 3px;
    overflow: hidden;
}
body.product .product-form__input.product-form__quantity {
    width: auto;
    max-width: none;
    flex: 0;
    margin-bottom: 0;
    min-width: 120px;
    padding: 0 15px;
}
body.product .product-form__quantity .quantity {
    border: 0;
    width: auto;
    height: auto;
}
body.product .product-form__quantity .quantity button.quantity__button {
    color: var(--green);
    opacity: 1;
    width:auto;
    padding: 1rem;
}
body.product .product-form__quantity .quantity button.quantity__button svg {
    width: 1.2rem;
}
body.product .product-form__quantity .quantity .quantity__input {
    color: var(--green);
    padding: 0;
    font-size: 2rem;
}


/*LEFT HAND SIDE*/
body.product .product .grid__item {
    padding-bottom: 0;
}
body.product .product__media-item .media {
    height: 100vh;
    padding-top: 0 !important;
}
body.product .product__media-item {
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
}
body.product .product__media-item img {
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 85vh;
    width:auto;
}
.product__media-list-container {
    overflow: hidden;
}
.product__media-list-inner-container {
    display: flex;
    width: 200%;
    left:0;
    position: relative;
    transition:0.5s;
    flex-wrap: wrap;
    background: linear-gradient(90deg, var(--green) 0%, var(--green) 50%, var(--darkpink) 50%, var(--darkpink) 100%);
}
body.product ul.product__media-list {
    margin-left: 0;
}
ul.product__media-list > li {
    flex: 0 50%;
}
body.product .product__media-toggle {
    display: none;
}
body.product span.product__media-icon.motion-reduce {
    display: none
}
.product-images {
    width: 100%;
}

/*INGREDIENTS TABLE*/

.product-ingredients {
    width: 100%;
    display: flex;
}
.product-ingredients > div {
    flex: 0 50%;
}
.product-ingredients > div .ingredients-inner {
    max-width: 50%;
    margin: auto;
}
.product-ingredients h2 {
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-weight: 700;
    color: var(--yellow);
}
.product-ingredients p {
    font-size: 1rem;
    color: var(--yellow);
}
.product-ingredients p.italic {
    font-style: italic;
}
.product-ingredients table {
    border: 0;
    box-shadow: none;
    width: 100%;
    margin-bottom: 150px;
}
.product-ingredients table thead tr td {
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-weight: 700;
}

.product-ingredients table tr td {
    border: 0;
    color: var(--yellow);
    padding: 5px 10px 5px 0;
    text-align: right;
}
.product-ingredients table tr td:nth-child(1) {
    padding-right: 20px;
    text-align: left;
    width: 200px;
}
.product-ingredients table tr td {
    text-align: right;
    line-height: 1;
}










