/*STORY*/

#shopify-section-template--15105509523661__main {
    display: none;
}

.story-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    top: 0!important;
    background-color: var(--green); 
    overflow: hidden;
    width: 100%; 
    position: relative;
}
.story-header p {
    color: var(--yellow);
/*    width: 300%;*/
    font-size: 28vw;
    line-height: 0.75;
    margin: 0;
    text-align: center;
    z-index: 5;
    position: relative;
    top: 40px;
}
.story-header p span {
    position: relative
}
.story-header p img {
    position: absolute;
    z-index: 2;
    left: 33%;
    bottom:5%;
    max-width: 250px;
}
.story-header p img.spagetti {
    right: 1%;
    left: auto;
    bottom: 54%;
}
.story-header p img.cheeseguy {
    left: 12%;
    bottom: 55%;
    max-width: 350px;
}
.story-header-image {
    position: absolute;
    max-width: 500px;
    left: -100px;
    bottom: -35px;
}
.story-header-image#story-header-image-2 {
    right: 0;
    left:auto;
    right: -100px;
    bottom: 100px;
}
.story-header .error-bg {
    height: 100vh;
} 

.content-container {
    width: 95%;
    margin: auto;
    display: block;
}

.story-intro p {
    width: 800px;
    font-size: 15rem;
    line-height: 0.85;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 0;
}
.story-intro p.right {
    margin-left: auto;
    text-align: right;
    position: relative;
}
/*
.story-intro p.right img {
    position: absolute;
    left: -30px;
    bottom: 0;
    width: 500px;
    height: auto;
    max-height: none;
}
*/
#tumbleweed {
    width: 200px;
}

.story-pour {
    height: 1300px;
    position: relative;
    overflow-x: clip;
}
.story-pour > span:not(.voila) {
    position: relative;
}
.plainnooch {
    max-width: 300px;
    position: relative;
    left: -50px;
    z-index: 2;
    top: -50px;
}
.toasted {
    top: 40px;
    left: auto;
    right: -50px;
    position: absolute!important;
}
.toasted-inner {
    position: relative;
}
.dust {
/*    height: 8px;*/
/*    width: 8px;*/
    border-radius: 10px;
/*    background-color: #fbf5c4;*/
    display: block!important;
    position: absolute;
    right: 0;
    z-index: 1;
    top: -160px;
    transform-origin: -165px 96px;
    max-width: 11px;
}
.toasted .dust {
    left:0; 
    right:auto;
    top: -240px;
}
.dust:nth-child(2), .dust:nth-child(6) {
    max-width: 6px;
}
.dust:nth-child(7), .dust:nth-child(9) {
    max-width: 5px;
}
.dust:nth-child(4), .dust:nth-child(8) {
    max-width: 9px;
}
#cheesenooch {
    position: relative;
    max-width: 400px;
    left: 0;
    right: 0;
    margin:auto;
    bottom: 0;
}
#cheesynooch {
    position: absolute;
    right:0;
    margin: auto;
    bottom: 0;
    left: 500px;
    z-index: 1;
}
#cheesynoochtwo {
    position: absolute;
    right:500px;
    margin: auto;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.voila {
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    text-align: center;
}
.voila p {
    font-size: 33rem;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 0.6;
    position: absolute;
    top: -210px;
    left: 0;
    right: 0;
    color: var(--pink);
}
.story-pour > p {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    color: var(--pink);
    z-index: 3;
    position: relative;
}

.story-pour-intro {
    padding: 100px 0 0 0;
    
}
.story-pour-intro p {
    width: 65%;
    max-width: 650px;
    text-align: center;
    margin:auto;
    font-size: 4rem;
    line-height: 1.4;
    text-transform: uppercase;
}
.story-pour-intro p:nth-child(2) {
    margin-top: 40px;
}
.story-pour-intro p a {
    margin: 100px 0;
}
.story-pour-intro.history {
    padding-top: 60px;
}
.story-pour-intro.history p {
    color: var(--pink);
}
.story-pour-intro.history p:nth-child(2) {
    text-transform: none;
    font-size: 3rem;
}
.story-pour-intro.history p a.clear-button {
    color: var(--pink);
    border: 1px solid var(--pink);
}
.story-pour-intro.history p a.clear-button:hover {
    color: var(--green);
}
.tumbleweed {
    margin: 50px 0 75px 0;
}
.story-main {
    padding-top: 50px;
}
.story-main p {
    text-transform: none;
    font-size: 3rem;
    margin: 20px auto;
}

.story-bottom {
    position: relative;
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding-bottom: 100px;
    padding-top: 100px;
}
.story-bottom p {
    position: relative;
    z-index: 2;
    font-family: "Balgin";
    font-size: 2.6rem;
    line-height: 3.6rem;
    margin: 70px auto;
    max-width: 600px;
}
.story-bottom .nooch-packets {
    position: absolute;
    bottom: -200px;
    max-width: 500px;
}
.story-bottom .nooch-packets#bacon {
    right: 20px;
}
.story-bottom .nooch-packets#cheese {
    left: 20px;
    bottom: -250px;
}
.story-bottom .marquee {
    position: absolute;
    bottom: 0;
    
}

@media (max-width: 1300px) {
  .story-header p img {
    max-width: 190px;
  }
  .story-header p img.cheeseguy {
    max-width: 290px;
  }
  .story-header p img.spagetti {
    max-width: 120px;
  }
}

@media (max-width: 991px) {
  .story-header p {
    font-size: 38vw;
  }
  .plainnooch {
    max-width: 250px;
  }
  #cheesenooch {
    max-width: 350px;
  }
  #cheesynooch {
    left: 400px;
  }
  #cheesynoochtwo {
    right: 400px;
  }
}

@media (max-width: 767px) {
  .story-header p img {
    max-width: 140px;
  }
  .story-header p img.cheeseguy {
    max-width: 220px;
  }
  .story-header p img.spagetti {
    max-width: 90px;
  }
  .story-pour-intro p {
    width: 80%;
  }
  .plainnooch {
    max-width: 200px;
  }
  #cheesenooch {
    max-width: 300px;
  }
  #cheesynooch {
    left: 300px;
  }
  #cheesynoochtwo {
    right: 300px;
  }
  .story-pour {
    height: 1100px;
  }
  .voila p {
    font-size: 30rem;
  }
  .story-header-image {
    max-width: 400px;
  }
}

@media (max-width: 500px) {
  .story-header p {
    font-size: 48vw;
    text-align: left;
    width: 95%;
    margin: auto;
  }
  .story-header p img {
    left: 26%;
    max-width: 110px;
    bottom: 3%;
  }
  .story-header p img.cheeseguy {
    max-width: 180px;
    bottom: 70%;
    left: 25%;
  }
  .story-header p img.spagetti {
    bottom: 30%;
    max-width: 70px;
  }
  .plainnooch {
    left: -80px;
  }
  #cheesenooch {
    max-width: 250px;
  }
  .voila p {
    font-size: 55vw;
    top: -185px;
  }
  .story-pour {
    height: 900px;
  }
  #cheesynooch {
    left: 150px;
    transform: rotate(10deg);
  }
  #cheesynoochtwo {
    right: 150px;
    transform: rotate(-10deg);
  }
  .toasted {
    right: -150px;
  }
  .story-pour-intro p {
    width: 90%;
    font-size: 3rem;
  }
  .story-main p,
  .story-pour-intro.history p:nth-child(2) {
    font-size: 2.4rem;
  }
  .tumbleweed {
    margin-top: 20px;
  }
  #tumbleweed {
    width: 150px;
  }
  .story-pour-intro p a {
    margin: 75px 0;
  }
  .story-pour-intro.history {
    padding-top: 20px;
  }
  .story-pour-intro {
    padding-top: 75px;
  }
  .story-header-image {
    max-width: 350px;
  }
  .story-header-image#story-header-image-2 {
    bottom:auto;
    top:-50px;
  }
}

@media (max-width: 400px) {
  .plainnooch {
    left: -120px;
  }
  #plainnooch2 {
    left: -20px;
  }
  #cheesenooch {
    max-width: 200px;
  }
  .plainnooch {
    max-width: 170px;
  }
  #cheesynooch {
    left: 100px;
  }
  #cheesynoochtwo {
    right: 100px;
  }
  .voila p {
    top: -160px;
  }
  .story-pour {
    height: 750px;
  }
  .story-pour-intro {
    padding-top: 50px;
  }
  #tumbleweed {
    width: 100px;
  }
  .tumbleweed {
    margin-bottom: 75px;
  }
}

@media (max-width: 350px) {
  .voila p {
    top: -135px;
  }
  .story-header-image {
    max-width: 300px;
  }
}



/*GENERIC PAGE E.G. PRIVACY*/

.main-page-content {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
}
.main-page-content h1 {
    font-size: 20rem;
    line-height: 0.8;
    margin-bottom: 0;
}
.main-page-content .rte a {
    color: var(--yellow);
}
.main-page-content .rte a:hover {
    color: var(--pink);
}

/*PRESS*/

.wrapper.trade-wrapper {
    position: relative;
    margin-top: 220px;
}
.press-title {
    margin: 0;
    text-transform: uppercase;
    font-size: 30vw;
    text-align: right;
    color: var(--yellow);
    position: absolute;
    z-index: 1;
    line-height: 0.6;
    padding-right: 10px;
    margin-top: 0px;
    right: 0;
    top:-20px;
}
#press-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    top: 0!important;
}

#press-content .partner-container {
    width:100%;
    display: flex;
    height: 100vh;
}
#press-content .partner-container .image-container {
    flex: 0 65%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    background-position: top;
}
#press-content .partner-container .content-container {
    flex: 0 35%;
    display: flex;
    align-content: flex-end;
    padding: 30px;
}
#press-content .partner-container .content-container h2 {
    text-align: left;
    font-size: 3.6rem;
    line-height: 3.6rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#press-content .partner-container .content-container p {
    text-align: left;
    width: 100%;
    margin: 0 0 0px 0;
    font-size: 1.5rem;
    line-height: 1.6;
}
#press-content .partner-container .content-container p.firstline {
    margin-bottom: 20px;
}
#press-content .partner-container .content-container p a {
    margin: 30px 0 0px 0;
}
#press-content .partner-container.quote {
    background-color: var(--pink);
    display: flex;
    align-content: center;
    justify-content: center;
}
#press-content .partner-container.quote .content-container {
    height: auto;
    flex: 0 95%;
    max-height: 100%;
    overflow: auto;
    align-content: flex-start;
}
#press-content .partner-container.quote p {
    color: var(--green);
    text-align: center;
    text-transform: uppercase;
    font-size: 20rem;
    line-height: 0.75;
    margin: 0;
}
#press-content .partner-container.quote .content-container .quote-star {
    position: relative;
    margin-bottom: 30px;
}
#press-content .partner-container.quote .content-container .quote-star #quote-star {
    position: absolute;
    width: 30px;
    top: 23px;
    left: 20px;
}
#press-content .partner-container.quote .content-container .quote-star #quote-star-bg {
    width: 75px;
    height: 75px;
}

@media (max-width: 991px),
@media (any-pointer: none) {
    .wrapper.trade-wrapper {
        margin-top: 190px;
    }
    #press-content {
        flex-direction: row;
        height: auto;
    }
    #press-content .partner-container {
        flex-wrap: wrap;
        height: auto;
    }
    #press-content .partner-container .image-container {
        flex: 0 100%;
        height: 600px;
    }
    #press-content .partner-container .content-container {
        flex: 0 100%;
        background-color: var(--green);
        height: auto;
        padding: 50px 30px;
    }
    #press-content .partner-container .content-container h2 {
        margin-top: 0;
        font-size: 3rem;
        line-height: 3rem;
    }
    #press-content .partner-container.quote {
        min-height: 100vh;
    }
    #press-content .partner-container.quote .content-container {
        background-color: var(--pink);
        flex: 0 100%;
    }
    #press-content .partner-container.quote p {
        font-size: 15rem;
    }
}

@media (max-width: 767px) {
    .wrapper.trade-wrapper {
        margin-top: 155px;
    }
    #press-content .partner-container.quote p {
        font-size: 10rem;
    }
}

@media (max-width: 500px) {
    .wrapper.trade-wrapper {
        margin-top: 200px;
    }
    .press-title {
        font-size: 52vw;
        top: -85px;
    }
}

@media (max-width: 350px) {
    .wrapper.trade-wrapper {
        margin-top: 160px;
    }
    .press-title {
        top: -50px;
    }
}

/*TRADE */

#shopify-section-template--15109231050957__main {
    display: none;
}

.wrapper.trade-wrapper.trade {
    margin-top: 0;
}
#press-content .partner-container.trade-partners {
    width: 50%;
}
#press-content .partner-container.trade-partners {
    min-height: 100vh;
    background-color: var(--pink);
    position: relative;
    padding: 50px 50px 120px 50px;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}
#press-content .partner-container.trade-partners h2, 
#press-content .partner-container.trade-partners p {
    color: var(--green);
    text-align: center;
    width: 100%;
}
#press-content .partner-container.trade-partners h2 {
    margin-bottom: 10px;
    font-size: 3.5rem;
}
#press-content .partner-container.trade-partners p {
    margin-top: 5px;
    line-height: 1.5;
    max-width: 600px;
}
#press-content .partner-container.trade-partners:nth-child(3) {
    background-color:#004950;
}
#press-content .partner-container.trade-partners:nth-child(3) h2, 
#press-content .partner-container.trade-partners:nth-child(3) p {
    color: var(--yellow);
}
#press-content .partner-container.trade-partners img {
    max-height: 280px;
}
#press-content .partner-container.trade-partners ul.trade-buttons {
    display: block;
    padding-left: 0;
    margin: 10px 0 0 0;
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
}
#press-content .partner-container.trade-partners ul.trade-buttons li {
    list-style-type: none;
    margin: 10px 0 10px 0;
    width: auto;
}
#press-content .partner-container.trade-partners ul.trade-buttons li a {
    text-decoration: none;
    color: var(--pink);
    background-color: var(--darkpink);
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    font-size: 2.6rem;
    padding: 15px 50px;
    min-width: 350px;
    transition: .5s;
}
#press-content .partner-container.trade-partners ul.trade-buttons li a:hover {
    background-color: var(--green);
    color: var(--yellow);
}
#press-content .partner-container.trade-partners h2 {
    text-transform: uppercase;
    line-height: 1.2;
}
#press-content .partner-container.first-container {
    padding-top: 220px;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}
#press-content .partner-container.first-container:after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
    position: absolute;
    bottom:0;
    left: 0;
    z-index: 2;
}
#press-content .partner-container.first-container h1 {
    position: relative;
    width: 100%;
    text-align: right;
}
#press-content .partner-container.first-container p {
    font-size: 3rem;
    line-height: 1.4;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 75%;
}
#press-content .partner-container.first-container h1,
#press-content .partner-container.first-container p {
    z-index: 4;
    position: relative;
}
#press-content .partner-container.first-container p a {
    margin-top: 30px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
}
#press-content .partner-container.first-container p a:hover {
    color: var(--pink);
}
#press-content .partner-container.first-container .images {
    position: absolute;
    z-index: 1;
    left: -15%;
    width: 1050px;
    top: -180px;
    transform: rotate(-5deg); 
}
#press-content .partner-container.first-container .images img {
    width: 1050px;
    position: absolute;
    z-index: 2;
}
#press-content .partner-container.first-container .images img:nth-child(2) {
    left: 300px;
    top: -70px;
    z-index: 1;
}

@media (max-width: 1199px) {
    #press-content .partner-container.first-container .images img {
        width: 750px;
    }
}
@media (max-width: 991px), 
@media (hover: none) {
    #press-content .partner-container.first-container {
        padding-bottom: 50px;
    }
    #press-content .partner-container.first-container p {
        font-size: 2.4rem;
    }
    #press-content .partner-container.trade-partners img {
        max-height: 200px;
    }
    #press-content .partner-container.trade-partners ul.trade-buttons {
        flex-wrap: wrap;
    }
    #press-content .partner-container.trade-partners ul.trade-buttons li {
        flex: 0 100%;
    }
    #press-content .partner-container.first-container .images img {
        width: 550px;
    } 
    #press-content .partner-container.trade-partners ul.trade-buttons li a {
        min-width: 100%;
    }
}
@media (max-width: 767px) {
    #press-content .partner-container.first-container {
        padding-top: 170px;
        min-height: 100vh;
    }
    #press-content .partner-container.trade-partners {
        width: 100%;
        height: auto;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 50px;
    }
    #press-content .partner-container.trade-partners ul.trade-buttons {
        position: relative;
        margin-top: 30px;
    }
    #press-content .partner-container.trade-partners h2,
    #press-content .partner-container.trade-partners p {
        padding-left: 5%;
        padding-right: 5%;
    }
    #press-content .partner-container.trade-partners img {
        max-width: 95%;
    }
}
@media (max-width: 600px) {
    #press-content .partner-container.first-container p {
        max-width: 100%;
    }
    #press-content .partner-container.first-container .images img {
        width: 500px;
    }
    #press-content .partner-container.first-container .images img:nth-child(2) {
        left: 200px;
    }
    #press-content .partner-container.first-container .images {
        left: -35%;
    }
}
@media (max-width: 500px) {
    #press-content .partner-container.first-container h1 {
        text-align: center;
    }
    #press-content .partner-container.first-container {
        padding-top: 200px;
    }
    #press-content .partner-container.first-container .images {
        top: auto;
        bottom:0;
        height: 500px;
        transform: rotate(25deg);
        left: auto;
        right: -5%;
        width: 500px;
    }
    #press-content .partner-container.first-container p {
        font-size: 2rem;
    }
}


/*MAP*/

#shopify-section-template--15112822587597__main {
    display: none;
}

#map {
    height: 1000px;
    flex: 0 100%;
}
.wrapper.map-wrapper h1 {
    font-size: 21vw;
/*    margin-top: 200px;*/
    z-index: 3;
}
.wrapper.map-wrapper .content {
    display: flex;
}
.wrapper.map-wrapper .content .location-list {
    flex: 0 30%;
    height: 100vh;
    position: relative;
    overflow: auto;
}
.wrapper.map-wrapper .content .location-list .location-list-inner {
    height: 100vh;
    overflow: auto;
/*    padding-top: 400px;*/
}
.wrapper.map-wrapper .content .location-list h1 {
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 0;
    padding-left: 20px;
    margin-top: 130px;
    text-transform: uppercase;
}

/*
#content {
    position: fixed;
    bottom: 0;
    right: 0;
}
*/
/*
.wrapper.map-wrapper .content .location-list:before {
    content:'';
    height: 400px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--green);
    z-index: 2;
}
*/
.location-list .location-list-inner ul {
    padding-left: 0;
}
.location-list .location-list-inner ul li {
    list-style-type: none;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
}
.location-list .location-list-inner ul li:hover {
    cursor: pointer;
}
.location-list .location-list-inner ul li p {
    margin: 0;
    line-height: 1.4;
}
.location-list .location-list-inner ul li p:nth-child(2) {
    font-size: 1rem;
}
.location-list .location-list-inner ul li img {
    height: 30px;
    margin-right: 10px;
}

#map h2#firstHeading {
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: center
}
.popup-nooch img {
    max-width: 180px;
    margin: auto;
    margin-bottom: 10px;
}
.popup-nooch img.bacon {
    max-width: 110px;
}
.popup-nooch p {
    margin-top: 0;
    margin-bottom: 10px;
}
.gm-style .gm-style-iw-c {
    background-color: var(--darkpink);
    padding: 0;
}
.gm-style .gm-style-iw-d {
    padding: 20px 30px 20px 30px;
    overflow: hidden!important;
    text-align: center;
}
.gm-style .gm-style-iw-t::after {
    background: linear-gradient(45deg,rgba(206,15,105,1) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
}
#bodyContent {
    text-transform: uppercase;
}
button.gm-ui-hover-effect {
    background-image: url(box-close.png)!important;
    opacity: 1;
    background-size: 13px auto!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    right: 5px!important;
    top: 5px!important;
}
button.gm-ui-hover-effect img {
    display: none !important;
}










