body.gradient {
    background-color: var(--pink);
    padding-bottom: 438px;
}



.spaced-section {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

a.clear-button,
button.clear-button {
	color: var(--yellow);
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid var(--yellow);
	border-radius: 5px;
	text-align: center;
	padding: 10px 30px 5px 30px;
	font-size: 3rem;
	display: inline-block;
    transition: 0.5s;
    background-color: transparent;
    box-shadow: none;
}

a.clear-button:hover,
button.clear-button:hover {
    background-color: var(--pink);
    color: var(--green);
    border-color: var(--pink);
    box-shadow: none !important;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50%);
  }
}

.marquee {
    position: absolute;
    bottom: 0;
    z-index: 11;
    width: 100vw;
    max-width: 100%;
    height: 45px;
    overflow-x: hidden;
    background-color: var(--yellow);
}
.marquee .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 45s linear infinite;
}

.marquee .track .content {
    color: var(--green);
    line-height: 1;
    font-size: 1.6rem;
    font-weight: 900;
    padding: 5px;
    position: relative;
    top: 3px;
}

.marquee .track .content span {
    margin: 0 20px;
}

.marquee .track .content span > img {
    height: 20px;
    position: relative;
    top: 5px
}
body.product .menu-container .marquee {
    position: absolute;
}

main#MainContent {
/*    overflow: hidden;*/
    z-index: 1;
    background-color: var(--green);
}
body.product main#MainContent,
body.blog main#MainContent {
    overflow: initial;
}

@media (max-width: 767px) {
    a.clear-button {
        font-size: 2rem;
    }
}