/*HEADER*/

.header {
	display: flex;
	justify-content: space-between;
	background-color: transparent;
}
.header > div {
	display: flex;
}
.star {
	position: relative;
    transition-property: transform;
    transition-duration: 1s;
}
.menu {
	position: absolute;
	width: 17px;
	z-index: 1;
	right: 15px;
}
.menu .cls-1 {
	fill: var(--green);
}
header-drawer {
	justify-self: end;
	margin-left: 30px;
}
header-drawer .header__icon {
	position: relative;
}
header-drawer:hover .star {
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.header__icon--menu .icon {
	z-index: 1;
}
a.header__icon--cart {
	color: var(--yellow);
	text-decoration: none;
	text-transform: uppercase;
	margin: 0;
	width: auto;
	height: auto;
	font-size: 2.5rem;
}
.cart-count-bubble {
	background-color: transparent;
	color: var(--yellow);
	position: relative;
	width: auto;
	height: auto;
	left: auto;
	bottom: auto;
	font-size: inherit;
	margin-left: 5px;
}

.logo {
	width: 100px;
}
