@font-face {
  font-family: "Balgin";
  src: url(assets/StudioSun-BalginBlack.otf) format("opentype");
}
@font-face {
  font-family: "Thunder";
  src: url(assets/Thunder-BlackLC.otf) format("opentype");
}
@font-face {
  font-family: "Brice";
  src: url(assets/BriceGX.ttf) format("truetype");
}
@font-face {
  font-family: "ITCAvantGardeGothicStd";
  src: url(ITCAvantGardeGothicStd.woff2) format("woff2"),
      url(ITCAvantGardeGothicStd.woff) format("woff"),
      url(ITCAvantGardeGothicStd.ttf) format("truetype");
}

*{
  font-family: "Balgin";
}
.menu-container nav ul li a,
footer.footer .footer-title h3,
.home-blog h3, 
body.product h1.product__title,
.home-blog .recipes-slider span {
  font-family: "Thunder";
  text-transform: uppercase;
}

footer.footer .footer-block--newsletter h2.footer-block__heading,
.home-blog .home-blog-bottom p, .home-blog .home-blog-bottom p a,
.marquee .track .content {
  font-family: "Brice";
}

.lettering {
  font-family: "Thunder";
  text-transform: uppercase;
  color: var(--yellow);
  font-size: 49vw;
  width: 100%;
  text-align: center;
  margin: 0;
  line-height: 0.55;
  position: relative;
  top: 60px;
}
.lettering.pink {
  color: var(--pink);
}
.lettering.yellow {
  color: var(--yellow);
}

body.product .product__description,
body.product fieldset.product-form__input .form__label,
.cart-modal .no-items,
.cart-modal .total h4, 
.cart-modal .table-items .rest > div .title a p,
.cart-modal .table-items .rest > div .remove a,
.cart-modal .table-items .rest > div .price,
.cart-modal .total div {
    font-family: ITCAvantGardeGothicStd;
}