/*NEWSLETTER*/
footer.footer .footer-block--newsletter .newsletter-form {
	margin: 0;
	width: 45rem;
	max-width: 45rem;
    flex-wrap: wrap;
}
footer.footer .newsletter-form__field-wrapper {
	 max-width: 100%;
}
footer.footer .input-group {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}
footer.footer .input-group.input-group--error {
    margin-bottom: 0px;
    border: 2px solid var(--darkpink);
    border-radius: 7px;
}
footer.footer .footer-block--newsletter .newsletter-form input {
	background-color: white;
	border-radius: 0px;
	border: 2px solid var(--green);
	padding: 17px 20px;
	box-shadow: none;
    font-family: Arial, sans-serif;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
    color: var(--green);
    flex: 1;
}
footer.footer .footer-block--newsletter .newsletter-form input::placeholder {
    color: var(--green);
}
footer.footer .footer-block--newsletter .newsletter-form label {
	color: var(--green);
	font-family: Arial, sans-serif;
	letter-spacing: 0;
	top: 15px;
} 
footer.footer .footer-block--newsletter .newsletter-form button {
	background-color: var(--green);
	color: var(--pink);
	text-transform: uppercase;
	font-size: 2.75rem;
	width: auto;
	height: auto;
	padding:15px 25px 10px 25px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
    transition:.5s;
    border: 0;
}
footer.footer .footer-block--newsletter .newsletter-form button:hover {
    background-color: var(--darkpink);
    cursor: pointer;
}
footer.footer .footer-block--newsletter .newsletter-form p.success {
    margin-top: 0;
}

footer.footer .input-error-message {
    position: relative;
    width: 100%;
    margin-top: 3px;
}
footer.footer .input-error-message span {
    color: var(--darkpink);
    font-size: 2.2rem;
    text-align: right;
    width: 100%;
} 

@media (max-width: 991px) {
	footer.footer .footer-block--newsletter .newsletter-form {
		width: 100%;
	}
}
@media (max-width: 767px) {
	footer.footer .footer-block--newsletter .newsletter-form {
		max-width: 100%;
	}
}
@media (max-width: 375px) {
	footer.footer .footer-block--newsletter .newsletter-form button {
		position: relative;
		width: 100%;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	footer.footer .footer-block--newsletter .newsletter-form input {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	footer.footer .footer-block--newsletter .newsletter-form .field {
		flex-wrap: wrap;
	}
}