body.product {
    background-color: var(--pink);
}
body.product .header__icon--cart,
body.product .cart-count-bubble {
    color: var(--green);
}
body.product .header__icon--cart:hover,
body.product .header__icon--cart:hover .cart-count-bubble {
    color: var(--darkpink);
}
body.product .menu-star {
    display: none;
}
body.product .menu-star.green {
    display: block;
}
.menu-container nav ul li img {
    display: block!important;
}
body.product .menu .cls-1 {
    fill: var(--pink);
}
body.product .marquee {
    position: relative;
    position: sticky;
    bottom: 0;
    left: 0;
    
}
body.product .spaced-section {
    margin-top: 0;
    margin-bottom: 0; 
}
body.product .product__info-wrapper {
    padding-right: 4rem;
    padding-top: 100px;
}
body.product .product__info-container--sticky {
    position: relative;
/*
    display: flex;
    align-content: center;
*/
/*    height: 100%;*/
    max-height: 100%;
/*    flex-wrap: wrap;*/
/*    top: 0;*/
}
.product__info-wrapper-inner {
/*    height: 78vh;*/
    display: flex;
    height: 86vh;
    align-items: center;
    position: sticky;
    top: 0;
    overflow: auto;
}
body.product a.header__icon--cart {
    color: var(--green);
}

body.product h1.product__title {
    font-size: 14rem;
    line-height: 11rem;
    margin-bottom: 0;
    color: var(--green);
    width: 100%;
    margin-top: 20px;
}

body.product fieldset.product-form__input .form__label {
    text-transform: uppercase;
    color: var(--green);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1rem;
}
body.product variant-radios {
    width: 100%;
}
body.product .product-form__input {
    width: 100%;
    text-align: center;
    max-width: 100%;
    display: flex;
}

body.product .product-form__input input[type='radio'] + label {
    border-color: var(--green)!important;
    border-radius: 0;
    margin:0;
    color: var(--green);
    width:100%;
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 1.5rem 0;
    background-color: transparent;
    transition: .5s;
    border: 1px solid;
}
body.product .product-form__input input[type='radio']:checked + label {
    color: var(--pink);
}
body.product .product-form__input input[type='radio'] + label:hover {
    color: var(--darkpink);
}
body.product .product-form__input.flavours {
    position: relative;
}
body.product .product-form__input.flavours::after {
    content:'';
    position: absolute;
    left:0;
    width:33.33%;
    height:100%;
    background-color: var(--green);
    transition:.5s;
    z-index: -1;
}
body.product .product-form__input.flavours.cheese::after {
    left: 0;
}
body.product .product-form__input.flavours.bacon::after {
    left: 33.33%;
}
/* body.product .product-form__input.flavours.both::after {
    left: 50%;
} */
body.product .product-form__input.flavours.super::after {
    left: 66.66%;
}

body.product .product-form__input.quantity-selector input[type='radio'] + label {
    background: linear-gradient(to left, var(--pink) 50%, var(--green) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}
body.product .product-form__input.quantity-selector input[type='radio'] + label:nth-child(3) {
    background: linear-gradient(to right, var(--pink) 50%, var(--green) 50%) left;
    background-size: 201%;
}
body.product .product-form__input.quantity-selector input[type='radio']:checked + label:nth-child(3) {
    background-position: right;
}
body.product .product-form__input.quantity-selector input[type='radio']:checked + label {
    background-color: var(--green);
    background-position: left;
}



body.product .product-form__input input[type='radio']:checked + label:hover {
    cursor: auto;
    color: var(--pink);
}

body.product .buy-buttons {
    margin: 0;
    flex: 0 75%;
}
body.product .buy-buttons .product-form {
    margin: 0;
    height: 100%;
}
body.product .product-form__buttons {
    height: 100%;
    position: relative;
}

body.product .product-form__buttons button {
    height: 100%;
    background-color: var(--darkpink);
    border: 0;
    box-shadow: none;
    color: var(--pink);
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1em 20px;
    margin-bottom: 0;
    display: block;
    transition: 0.5s;
}
body.product .product-form__buttons button.unavailable {
    pointer-events: none;
    background-color: grey;
}
body.product .product-form__buttons .soldout {
    position: absolute;
    background-color: var(--darkpink);
    color: var(--yellow);
    padding: 10px 30px;
    font-size: 2rem;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 100%;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
body.product .product-form__buttons button .button-price {
    margin-left: 5px;
}
body.product .product-form__buttons button .price {
    color: var(--pink);
    display: inline;
}
body.product .product-form__buttons button .price dl, body.product .product-form__buttons button .price dd, body.product .product-form__buttons button .price dt {
    display: inline;
    margin-right: 0;
}
body.product .product-form__buttons button .price--sold-out body.product .product-form__buttons button .price__availability, body.product .product-form__buttons button .price__regular {
    display: inline;
}
body.product .product-form__buttons button:hover {
    background-color: var(--green);
    box-shadow: none;
}
body.product .product-form__buttons button span.item-price-wrapper {
    display: inline-block;
    margin-left: 10px;
}

body.product .product__description {
    color: var(--green);
    font-size: 1.5rem;
    width: 100%;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 10px;
}
body.product .product__description p, body.product .product__description p span {
    color: var(--green);
}
body.product .product__description p.hide {
    display: none;
}
body.product .product__description p.show {
    display: block;
    margin-top: 0;
}
body.product .quantity-cart {
    display: flex;
    border: 1px solid var(--green);
    justify-content: space-between;
    border-radius: 3px;
    overflow: hidden;
}
body.product .product-form__input.product-form__quantity {
    width: auto;
    max-width: none;
    flex: 0;
    margin-bottom: 0;
    min-width: 120px;
    padding: 0 10px;
}
body.product .product-form__quantity .quantity {
    border: 0;
    width: auto;
    height: auto;
}
body.product .product-form__quantity .quantity button.quantity__button {
    color: var(--green);
    opacity: 1;
    width:auto;
    padding: 1rem;
    font-size: 4rem;
    transition: 0.5s;
}
body.product .product-form__quantity .quantity button.quantity__button svg {
    width: 1.2rem;
}
body.product .product-form__quantity .quantity button.quantity__button:hover {
    color: var(--darkpink)
}
body.product .product-form__quantity .quantity .quantity__input {
    color: var(--green);
    padding: 0;
    font-size: 2rem;
}


/*LEFT HAND SIDE*/
body.product .product .grid__item {
    padding-bottom: 0;
    background-color: var(--pink);
}
body.product .product .grid__item.product__media-wrapper {
    background-color: var(--green);
}
body.product .product__media-item .media {
    height: 100vh;
    padding-top: 0 !important;
}
body.product .product__media-item {
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
}
body.product .product__media-item img {
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 85vh;
    width:auto;
    max-width: 100%;
}
.product__media-list-container {
    overflow: hidden;
}
.product__media-list-inner-container {
    display: flex;
/*    width: 200%;*/
    width: 300%;
    left:0;
    position: relative;
    transition:0.5s;
    flex-wrap: wrap;
/*    background: linear-gradient(90deg, var(--green) 0%, var(--green) 50%, var(--darkpink) 50%, var(--darkpink) 100%);*/
    background:linear-gradient(to right, var(--green) 0, var(--green) 33.3%, var(--darkpink) 33.3%, var(--darkpink) 66.6%, var(--lightblue) 66.6%, var(--lightblue) 100%);

}
.product__media-list-inner-container.both-selected .ingredients-inner {
    max-width: 75%;
}
.product__media-list-inner-container.both-selected .ingredients-inner table tr td:nth-child(1) {
    width:auto;
}
.product__media-list-inner-container.both-selected .product-ingredients table thead tr td:nth-child(1) {
    font-size: 1.8rem;
    letter-spacing: 2.5px;
}
.product__media-list-inner-container.both-selected .product-ingredients table tr td:nth-child(1) {
    padding-right: 10px;
}
.product__media-list-inner-container.both-selected .product-ingredients table tr td:nth-child(3) {
    padding-right: 0px;
}
body.product ul.product__media-list {
    margin-left: 0;
    flex-wrap: wrap;
}
ul.product__media-list > li {
    flex: 0 33.3%;
}
body.product .product__media-toggle {
    display: none;
}
body.product span.product__media-icon.motion-reduce {
    display: none
}
.product-images {
    width: 100%;
}

/*INGREDIENTS TABLE*/

.product-ingredients {
    width: 100%;
    display: flex;
}
.product-ingredients > div {
    flex: 0 50%;
}
.product-ingredients > div .ingredients-inner {
    max-width: 50%;
    margin: auto;
}
.product-ingredients h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 4px;
    font-weight: 700;
    color: var(--yellow);
}
.product-ingredients p {
    font-size: 1rem;
    color: var(--yellow);
    line-height: 1.5;
}
.product-ingredients p.italic {
    font-style: italic;
}

.product-ingredients table {
    margin-bottom: 250px;
    margin-top: 30px;
}
.product-ingredients table tr {
    min-height: 10px;
}
.product-ingredients table tr td:nth-child(1) {
    padding-right: 20px;
    text-align: left;
    width: 200px;
}
.product-ingredients table tr td {
    text-align: right;
    line-height: 1;
}
.product-ingredients table tr td {
    text-align: right
}

.product-ingredients table thead tr td {
    font-size: 1.5rem;
    line-height: 1.2;
}
.product-ingredients table thead tr td:nth-child(1) {
    font-size: 2.5rem;
    letter-spacing: 4px;
}
/*RECIPES*/

.product-recipes-wrapper {
    background-color: var(--green);
    position: relative;
}
.home-blog.product-recipes {
    top:-140px;
    background-color:transparent;
}
.home-blog.product-recipes .recipes-slider.marquee.top {
    background-color:transparent;
}
.home-blog.product-recipes .home-blog-bottom {
    padding-bottom: 0;
}

@media (max-width: 1300px) {
    .product__media-list-inner-container.both-selected .product-ingredients table thead tr td:nth-child(1),
    .product-ingredients table thead tr td {
        font-size: 1.3rem;
        letter-spacing: 1px;
    }
    .product__media-list-inner-container.both-selected .product-ingredients table tr td {
        font-size: 1.1rem;
    }
    body.product .product-form__buttons button span.item-price-wrapper {
        display: block;
        margin-left: 0;
        margin-top: 5px;
    }
}

@media (max-width: 1199px) {
    .product-ingredients > div .ingredients-inner {
        max-width: 75%;
    }
    body.product .product-form__input input[type='radio'] + label {
        font-size: 1.4rem;
    }
}


@media (max-width: 991px) {
    body.product .product > .grid__item.product__media-wrapper {
        width: 62%;
        padding-right: 0rem!important;
        padding-left: 0rem!important;
    }
    body.product .product > .grid__item {
        width: 38%;
        padding-right: 2rem !important;
        padding-left: 2rem !important;
    }
    body.product h1.product__title {
        font-size: 10rem;
        line-height: 8rem;
    }
    .product__media-list-inner-container.both-selected .ingredients-inner {
        max-width: 90%;
    }
    body.product .quantity-cart {
        flex-wrap: wrap;
    }
    body.product .product-form__input.product-form__quantity {
        width: 100%;
        flex: 0 100%;
    }
    body.product .buy-buttons {
        flex: 0 100%;
    }
    body.product .buy-buttons .product-form {
        width: 100%;
    }
    .product-ingredients > div .ingredients-inner {
        max-width: 90%;
    }
    body.product .product-form__input input[type='radio'] + label {
        font-size: 1.2rem;
    }
}

@media (max-width: 767px) {
    body.product .product .product__info-wrapper.grid__item {
        position: sticky;
        background-color: var(--pink);
        z-index: 100;
        bottom: 0;
        padding-right: 2rem;
        padding-left: 2rem;
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 5rem;
    }
    body.product .product__info-container--sticky {
        height: auto;
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    body.product .product__info-container--sticky > div {
        flex: 0 48%;
    }
    body.product .shopify-section-header-hidden {
        position: relative;
        transform: translateY(0);
        top: auto;
    }
    body.product .product-form__quantity .quantity {
        width: 100%;
    }
    body.product .quantity-cart {
        flex-wrap: nowrap;
    }
    body.product .product-form__input.product-form__quantity {
        flex: 0 35%;
    }
    body.product .buy-buttons {
        flex: 0 65%;
    }
    .product__info-wrapper-inner {
        height: auto;
        max-height: 50vh;
    }
    body.product .marquee:not(.recipes-slider) {
        z-index: 10000;
        height: 40px;
    }
    body.product .marquee .track .content {
        padding: 2px;
    }
    
    body.product .header__icon--cart, body.product .cart-count-bubble {
        color: var(--yellow);
    }
    body.product .menu-star {
        display: block;
    }
    body.product .menu-star.green {
        display: none;
    }
    body.product .menu .cls-1 {
        fill:var(--green);
    }
    
    body.product .product-form__buttons button {
        font-size: 1.6rem;
    }
    body.product .product-form__input input[type='radio'] + label {
        font-size: 1.4rem;
    }
}

@media (max-width: 600px) {
    body.product .product__info-container--sticky > div:nth-child(1) {
        display: none;
    }
    body.product .product__info-container--sticky > div {
        flex: 0 100%;
        display: flex;
        flex-wrap: wrap;
    }
    body.product .product .product__info-wrapper.grid__item {
        padding-top: 0;
        padding-bottom: 3.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    body.product variant-radios fieldset {
        flex: 0 50%;
    }
    body.product .quantity-cart {
        flex-wrap: wrap;
        margin-top: 0px;
        flex: 0 100%;
        border: 0;
        display: flex;
    }
    body.product .product-form__input.product-form__quantity,
    body.product .buy-buttons {
        flex: 0 50%;
    }
    body.product .product-form__input.product-form__quantity,
    body.product .buy-buttons .product-form {
        border: 1px solid var(--green);
    }
    body.product .product-form__input.product-form__quantity {
/*        border-bottom: 0;*/
        padding-left: 0;
        border-right: 0;
        padding-right: 0;
    }
    body.product .buy-buttons .product-form {
        border-top: 0;
    }
    body.product .product-form__buttons button,
    body.product .product-form__input input[type='radio'] + label {
        font-size: 1.4rem;
    }
    
    body.product .product-form__buttons button {
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
        padding-bottom: 6px;
        min-width: auto;
    }
    .product-ingredients h2 {
        font-size: 1.4rem;
    }
    .product-ingredients table {
        margin-top: 10px;
        margin-bottom: 160px;
    }
    .product-ingredients table tr td {
        display: block;
        position: relative;
    }
    .product-ingredients table thead {
        display: none;
    }
    .product-ingredients table tr td {
        padding-right: 0;
        padding: 0;
        margin-bottom: 10px;
    }
    .product-ingredients table tr td:nth-child(1) {
        text-transform: uppercase;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .product-ingredients table tr td:nth-child(2):before {
        content: 'per 100g';
        position: absolute; 
        width: 50%;
        text-align: left;
        left:0;
        top: 0;
    }
    .product-ingredients table tr td:nth-child(3):before {
        content: 'per 5g';
        position: absolute; 
        width: 50%;
        text-align: left;
        left:0;
        top: 0;
    }
    body.product .product__media-item {
        height: auto;
    }
    body.product .product__media-item img {
        margin-top: 0;
        margin-bottom: 0;
    }
    .slider.product__media-list .product__media-item:first-of-type {
        padding-left: 0!important;
    }
    body.product .product-form__quantity .quantity button.quantity__button {
        padding: 0 30px;
    }
    .product__media-list-inner-container {
        padding-top: 60px;
    }
}
@media (max-width: 400px) {
    body.product .product-form__quantity .quantity button.quantity__button {
        padding: 0 20px;
    } 
    body.product .product-form__input input[type='radio'] + label {
        padding: 12px 0 10px 0;
    }
    body.product .product-form__buttons .soldout {
        font-size: 1.4rem;
    }
}



/*COLLECTION*/

body.collection-template #MainContent {
    padding-top: 100px;
}
body.collection-template #main-collection-filters .facets-container {
    border-bottom: 1px solid var(--yellow);
    border-top: 1px solid var(--yellow);
    padding-top: 25px;
}
body.collection-template #main-collection-filters .facets-container * {
    font-family: ITCAvantGardeGothicStd;
    color: var(--yellow);
}
body.collection-template .media {
    padding-bottom:0!important;
}
body.collection-template .card__inner img {
    max-height: 500px;
    position: relative!important;
    width: auto!important
}
body.collection-template #product-grid li.grid__item {
    width: auto;
    padding-left: 0;
    flex-grow: 0;
    margin-bottom: 50px;
}
body.collection-template .card-wrapper .card-information {
    text-align: center;
}
body.collection-template .card-wrapper .card-information .price dl {
    width: 100%;
    font-family: ITCAvantGardeGothicStd;
}
body.collection-template .card-wrapper .card-information .price dl span {
    font-family: ITCAvantGardeGothicStd;
}
body.collection-template .card-wrapper .card-information h3 a {
    font-family: "Balgin";
    text-transform: uppercase;
    font-size: 3rem;
}

/* BUNDLES COLLECTION STYLING */
.collection-hero {
  padding-top: 100px!important;
}
.collection-hero.background-pink {
  background-color: var(--pink);
}
.collection-hero.background-pink h1.collection-hero__title {
  color: var(--green);
}
.collection-hero.background-pink .collection-hero__description {
  color: var(--green);
}
.collection-hero,
.collection-hero__description {
  text-align: center;
  margin-left:auto;
  margin-right: auto;
}
.collection-hero .collection-hero__inner {
  margin-bottom: 0;
}
.collection-hero .collection-hero__inner .collection-hero__description {
  font-family: Brice; 
      font-size: 2.5rem;
    line-height: 1.3;
    font-weight: 700;
}
#ProductGridContainer.background-pink {
  background-color: var(--pink);
}
.background-pink #product-grid {
  margin-top: 0;
}



