#shopify-section-footer {
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
}

footer.footer {
	background-color: var(--pink);
    border-top: 0;
    width: 100%;
}
footer.footer .two-col {
	display: flex;
	padding-bottom: 0;
	align-items: center;
}
footer.footer .two-col > div {
	flex: 0 50%;
}
footer.footer .footer-title h3 {
	color:  var(--green);
	font-size: 15vw;
	line-height: 1;
	margin: 0;
}
footer.footer .footer-title {
	position: relative;
}
footer.footer #footer-nooch-man {
	position: absolute;
	width: 250px;
	left: 50px;
    bottom: -20px;
}
footer.footer .footer-block--newsletter {
	justify-content: flex-start;
	align-items: flex-start;
	text-align: left;
	margin-top: 0;
}
footer.footer .footer-block__newsletter {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}
footer.footer .footer-block--newsletter h2.footer-block__heading {
	text-align: left;
	color: var(--green);
	font-size: 2.75rem;
	width: 100%;
}
footer.footer .footer-block--newsletter p {
	color: var(--green);
	text-align: left;
	font-size: 1.6rem;
	line-height: 1.4;
	font-family: Arial, sans-serif;
    margin-top: 0;
/*	margin-top: 30px;*/
}
footer.footer .footer-logo img {
	width: 200px;
}
footer.footer .footer__content-bottom {
	border: 0;
}
footer.footer .footer__column--info {
	flex-direction: row;
	justify-content: space-between;
}
footer.footer .footer__column--info .footer__copyright {
	display: flex;
	color: var(--green);
	align-items: center;
	margin-top: 0;
	font-family: Arial, sans-serif;
}
footer.footer .footer__column--info .footer__copyright img {
	width: 100px;
	margin-left: 5px;
}
footer.footer .footer-links {
	display: flex;
}
footer.footer .footer-links ul {
	margin: 0;
	padding-left: 0;
	display: flex;
}
footer.footer .footer-links ul li {
	list-style-type: none;
	margin-right: 20px;
	display: flex;
	align-items: center;
}
footer.footer .footer-links ul li a {
	color: var(--green);
	text-decoration: none;
	text-transform: uppercase;
	line-height: 1;
	display: block;
    transition: .5s;
}
footer.footer .footer-links ul li a:hover {
    color: var(--darkpink);
}
footer.footer .footer-links ul li a:hover svg * {
    fill: var(--darkpink);
}
footer.footer .footer-links ul li a svg {
	width: 30px;
}
footer.footer .footer-links ul li a svg * {
    transition: .5s;
}




.success.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    background-color: var(--darkpink);
    border: 35px solid #bb0d5f;
    padding: 20px 20px 50px 20px;
    width: 700px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.3) rotate(40deg);
    box-shadow: 0px 0px 15px 2px #2a2a2a8a;
}
.success.popup p {
    color: var(--pink);
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    font-size: 2.4rem;
    line-height: 1.6;
}
.success.popup h2 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--pink);
    text-align: center
}
.success.popup p span {
    color: var(--yellow);
}
.success.popup p span::selection {
  background: var(--green); /* WebKit/Blink Browsers */
}
.success.popup img.close-success {
    position: absolute;
    right: 20px;
    top: 20px;
    transition: 1s;
    max-width: 20px;
}
.success.popup img.close-success:hover {
    cursor: pointer;
    transform: rotate(360deg);
}
.success.popup p .clear-button {
    margin-top: 30px;
    color: var(--pink);
    border-color: var(--pink);
    padding: 15px 30px 10px 30px;
}
.success.popup p .clear-button:hover {
    color: var(--green);
}
.success.popup #footer-nooch-man {
    bottom: -60px;
    left: -10px;
    position: absolute;
    width: 200px;
}


@media (max-width: 2000px) {
	footer.footer .footer-title h3 {	
		font-size: 16vw;
	}
}
@media (max-width: 1600px) {
	footer.footer .footer-title h3 {	
		font-size: 19vw;
	}
}
@media (max-width: 1400px) {
	footer.footer #footer-nooch-man {
		max-width: 200px;
	}
}
@media (max-width: 1199px) {
	footer.footer .footer-logo img {
		width: 130px;
	}
}
@media (max-width: 991px) {
    footer.footer .footer-title h3 {	
		font-size: 17vw;
	}
	footer.footer .two-col {
		align-items: flex-start;
	}
	footer.footer .two-col > div.footer-title {
		flex: 0 55%;
	}
	footer.footer .two-col > div.footer-block--newsletter {
		flex: 0 45%;
	}
	footer.footer #footer-nooch-man {
		max-width: 150px;
        left: 15px;
	}
	footer.footer .footer-block--newsletter p {
		font-size: 1.2rem;
	}
	footer.footer .footer-block--newsletter h2.footer-block__heading {
		margin-bottom: 10px;
	}
	footer.footer .footer__column--info {
		flex-wrap: wrap;
	}
	footer.footer .footer-logo {
		order: 1;
		width: 100%;
		text-align: center;
	}
	footer.footer .footer-links {
		order: 2;
		width: 100%;
		justify-content: center;
		margin-top: 10px;
	}
	footer.footer .footer__column--info .footer__copyright {
		order: 3;
		width: 100%;
		justify-content: center;
	}
}
@media (max-width: 900px) {
    footer.footer .footer-title h3 {	
		font-size: 15vw;
	}
}
@media (max-width: 810px) {
    footer.footer .footer-title h3 {	
		font-size: 13vw;
	}
}
@media (max-width: 767px) {
	footer.footer .two-col {
		flex-wrap: wrap;
        padding-left: 2rem;
        padding-right: 2rem;
	}
	footer.footer .two-col > div.footer-title,
	footer.footer .two-col > div.footer-block--newsletter {
		flex: 0 100%;
	}
	footer.footer .footer-title h3 {
		font-size: 36vw;
		text-align: center;
	}
	footer.footer .footer-block--newsletter h2.footer-block__heading {
		text-align: center;
	}
	footer.footer .footer-block--newsletter p {
		text-align: center;
	}
    footer.footer #footer-nooch-man {
        bottom: 10px;
        max-width: 185px;
    }
    .success.popup {
        width: 80%;
        height: auto;
        min-height: 350px;
    }
    .success.popup h2 {
        font-size: 2.4rem;
    }
    .success.popup p {
        font-size: 2rem;
    }
    .success.popup #footer-nooch-man {
        width: 160px;
        bottom: -50px;
        left: -30px;
    }
}
@media (max-width: 600px) {
    footer.footer #footer-nooch-man {
        bottom: -10px;
        max-width: 155px;
    }
    .success.popup {
        width: 90%;
        height: auto;
        min-height: 350px;
        border-width: 25px;
    }
}
@media (max-width: 480px) {
	footer.footer .footer-title h3 {
		font-size: 32vw;
	}
	footer.footer .footer-links {
		flex-wrap: wrap;
	}
	footer.footer .footer-links ul {
		width: 100%;
		justify-content: center;
		margin-bottom: 15px;
		margin-top: 5px;
	}
	footer.footer .footer-links ul li {
		margin-left: 10px;
		margin-right: 10px;
		text-align: center;
		line-height: 1.2;
	}
	footer.footer #footer-nooch-man {
		max-width: 120px;
        bottom: 0;
        left: 25px;
	}
    .success.popup #footer-nooch-man {
        width: 140px;
        bottom: -40px;
        left: -50px;
    }
    footer.footer .input-group {
        flex-wrap: wrap;
    }
    
}
@media (max-width: 400px) {
	footer.footer #footer-nooch-man {
		left: 20px;
		bottom: -10px;
	}
	footer.footer .footer__column--info .footer__copyright {
		display: block;
	}
	footer.footer .footer__column--info .footer__copyright img {
		display: block;
		margin: 10px auto 0;
	}
    footer.footer .footer__column--info {
        padding-left: 0;
        padding-right: 0;
    }
    .success.popup img.close-success {
        right: 10px;
        top: 10px;
        max-width: 17px;
    }
}

@media (max-width: 340px) {
    .success.popup {
        border-width: 20px;
    }
}

localization-form,
.footer__column.footer__localization{
    display: none;
}