section.home-section {
	min-height: 100vh;
	background-color: var(--green);
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden;
	width: 100%; 
    flex-wrap: wrap;
    align-content: center;
    padding: 70px 0;
}
section.home-section .text-container {
	position: relative;
}
section.home-section .text-container img {
	position: absolute;
	width: 525px;
	bottom:-30px;
	left: 185px;
}
section.home-section .home-container {
	width: 100%;
}
.home-image {
	position: absolute;
	z-index: 2;
	max-width: 517px;
}
#home-cheesy-nooch {
	top: -300px;
	left: 200px;
}
#home-bacon-nooch {
	bottom: -200px;
	right: 100px;
}

section.home-section .text-container img.star {
	position: absolute;
	width: 35px;
}
section.home-section .text-container img#star-one {
	top: -180px;
	left: 200px;
}
section.home-section .text-container img#star-two {
	bottom: -160px;
	left: 400px;
}
section.home-section .text-container img#star-three {
	top: -170px;
	right: 200px;
	left: auto;
}
.button-container {
	position: relative;
	width: 100%;
	text-align: center;
    z-index: 10;
    margin-top: 10px;
}


.home-feature .product-grid {
	display: block;
}
.home-feature .product-grid li {
	width: 100%;
	display: block;
}

section.home-featured-product {
	height: 100vh;
	width: 100%;
	left: 0!important;
	position: relative;
	justify-content: center;
}
/*section.home-featured-product.bacon {
	background-color: var(--darkpink);
}*/
.home-featured-product-container {
    overflow: hidden;
}
section.home-featured-product.bacon a.clear-button {
	color: var(--pink);
	border: 1px solid var(--pink); 
}
section.home-featured-product.bacon a.clear-button:hover {
    color: var(--green)
}
section.home-featured-product.bacon .content-container img {
	transform-origin: -500px 800px;
}
section.home-featured-product.bacon .content-container img.badge-pink,
section.home-featured-product.cheese .content-container img.badge-green { 
    position: absolute;
    top: 85px;
    left: -400px;
    right: 0;
    margin: auto;
    max-width: 200px;
    z-index: 1;
}

section.home-featured-product.cheese .content-container img.badge-green {
    right: -400px;
    left: 0;
}
section.home-featured-product img.pink-star {
    position: absolute;
    width: 35px;
}
section.home-featured-product img.pink-star#pink-star-one {
    left: -800px;
    top: -120px;
    right: 0;
    margin: auto;
}
section.home-featured-product img.pink-star#pink-star-two {
    left: 800px;
    top: -50px;
    right: 0;
    margin: auto;
}
section.home-featured-product.cheese {
	overflow: hidden;
}
section.home-featured-product.cheese .content-container img {
	transform-origin: 1200px 800px;
}
/*section.home-featured-product.cheese {
	background-color: var(--green);
}*/
section.home-featured-product.cheese a.clear-button {
	color: var(--yellow);
	border: 1px solid var(--yellow); 
}
section.home-featured-product.cheese a.clear-button:hover {
    color: var(--green);
    border-color: var(--pink);
}
/*section.home-featured-product.bacon .content-container img {
	transform-origin: top left;
}*/
.lettering-container {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin: auto;
}
.content-container {
	height: 100%;
	z-index: 2;
	position: relative;
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}
.content-container img:not(.badge-pink):not(.badge-green) {
	height: 80%;
}

.content-container .button-container {
	z-index: 2;
    margin-top: 0;
}

body {
  overflow-x: hidden;
}

#container {
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  height:100vh;
  top: 0!important;
}

.horizontal-container .module{
  height:100%;
  display:flex;
  width:100%;
  background-color: var(--darkpink);
}

.home-blog {
	background-color: var(--green);
    position: relative;
}
.home-blog h2 {
	color: var(--yellow);
	font-size: 4rem;
	margin: 0;
    font-family: Balgin;
    text-transform: uppercase;
    text-align: center;
    line-height: 4rem;
}
.home-blog .article-content {
	position: relative;
    display: block;
}
.home-blog .article-content .article-card__excerpt {
	display: none;
}
.home-blog .article-content:hover .article-card__info {
	opacity: 1;
}
.home-blog .article-card__info {
	background: rgba(0, 100, 80, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: 0.5s;
}
.home-blog .article-card__info button {
    display: none;
}
.home-blog .article-card__image {
    padding-bottom: 100%;
}
.home-blog .home-blog-bottom {
	max-width: 800px;
	margin: auto;
	text-align: center;
	padding: 20px 2% 100px 2%;
}
.home-blog .home-blog-bottom a.clear-button {
	margin-top: 30px;
}
.home-blog .home-blog-bottom p, 
.home-blog .home-blog-bottom p a {
	color: var(--yellow);
	font-size: 2.75rem;
	line-height: 1.3;
}
.home-blog .home-blog-bottom p a:hover {
    color: var(--pink);
}
.home-blog .article-content:hover .article-card__title {
    text-decoration: none;
}

.home-blog .recipes-slider {
    height: 141px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}
.home-blog .recipes-slider.marquee {
    background-color: transparent;
    position: relative;
    z-index: 10;
    top: -57px;
}
.home-blog .recipes-slider.marquee.top {
    top: auto;
}
.home-blog .recipes-slider.marquee .track {
    animation: marquee 25s linear infinite;
    -webkit-animation: marquee 25s linear infinite; 
}
.home-blog .recipes-slider.marquee.top .track {
    animation: marquee-left 25s linear infinite;
    -webkit-animation: marquee-left 25s linear infinite;
    right: 0;
}
.home-blog .recipes-slider.marquee .track .content {
    padding: 0;
}
.home-blog .recipes-slider.marquee .track .content span {
    margin: 0;
    font-weight: normal;
}
.home-blog .recipes-slider.marquee .track span {
    position: relative;
    margin: 20px!important;
}
.home-blog .recipes-slider.marquee .track img {
    width: auto;
    height: 170px;
    position: absolute;
    z-index: 1;
    top: auto;
    bottom: 11px;
    right: -90px;
}
.home-blog .recipes-slider span {
    color: var(--yellow);
    font-size: 11.75rem;
    line-height: 6.3rem;
}
.home-blog .blog__posts .article {
    padding: 0;
}
.home-blog .blog__posts .article+.article {
    margin-left: 2px;
}
.home-blog .blog__posts.articles-wrapper {
    margin-bottom: 0;
}

section.home-video {
/*    height: 100vh;*/
    width: 100%;
/*
    background-image: url('home-gif.gif');
    background-size: cover;
    background-position: top;
*/
    background-color: #009d53;
}

@media (max-width: 1400px) {
    .home-image {
        max-width: 450px;
    }
    #home-cheesy-nooch {
        left: 100px;
        top: -250px;
    }
    section.home-section .text-container img#star-one {
        left: 100px;
        top: -100px;
    }
    section.home-section .text-container img#star-two {
        bottom: -100px;
    }
    section.home-section .text-container img#star-three {
        top: -70px;
    }
}

@media (max-width: 1199px) {
    .button-container {
        margin-top: 40px;
    }
    .home-image {
        max-width: 400px;
    }
    #home-bacon-nooch {
        right: 50px;
    }
    section.home-section .text-container img#star-two {
        left: 300px;
        bottom: -50px;
    }
    section.home-section .text-container img {
        width: 450px;
        bottom: -50px;
        left: 100px;
    }
}

@media (max-width: 991px) {
    .home-image {
        max-width: 300px;
    }
    .button-container {
        margin-top: 20px;
    }
    #home-bacon-nooch {
        bottom: -100px;
    }
    #home-cheesy-nooch {
        top: -200px;
    }
    #home-cheesy-nooch {
        top: -600px;
        bottom: 0;
        margin: auto;
        left: -200px;
        right: 0;
    }
    #home-bacon-nooch {
        right: -250px; 
        top: 0;
        left:0;
        bottom: -445px;
        margin: auto;
    }
    section.home-section .text-container img {
        width: 300px;
        left: 80px;
        bottom: -30px;
    }
    section.home-section {
        padding: 90px 0;
    }
    .home-blog h2 {
        font-size: 2.6rem;
        line-height: 2.6rem;
    }
    .home-blog .article-card__info {
        padding: 2rem;
    }
    section.home-featured-product.bacon .content-container img.badge-pink,
    section.home-featured-product.cheese .content-container img.badge-green {
        left: -300px;
        max-width: 175px;
    }
    section.home-featured-product.cheese .content-container img.badge-green {
        right: -300px;
        left: 0;
    }
    .content-container img:not(.badge-pink):not(.badge-green) {
        height: 75%;
    }
    section.home-featured-product img.pink-star#pink-star-one {
        left: -600px;
    }
    section.home-featured-product img.pink-star#pink-star-two {
        left: 600px;
    }
/*
    section.home-video {
        height: 600px;
    }
*/
}

@media (max-width: 767px) {
/*
    #home-cheesy-nooch {
        left: 50px;
    }
*/
    .home-image {
        max-width: 250px;
    }
/*
    #home-bacon-nooch {
        bottom: -50px;
    }
    #home-cheesy-nooch {
        top: -140px;
    }
*/
    section.home-section .text-container img#star-two {
        left: 100px;
        bottom: -80px;
    }
    section.home-section .text-container img#star-three {
        right: 100px;
        top: -50px;
    }
    .home-blog .blog__posts.articles-wrapper {
        display: block;
    }
    .home-blog .blog__posts.articles-wrapper .article {
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
    .home-blog .article-card__image {
        padding-bottom: 300px;
    }
    .home-blog .article-card__info {
        opacity: 1;
        background:rgba(0,0,0,0.2);
    }
    .home-blog h2 {
        font-size: 4rem;
        line-height: 4rem;
    }
    .home-blog .home-blog-bottom {
        padding-left: 5%;
        padding-right: 5%;
    }
    section.home-featured-product.bacon .content-container img.badge-pink, section.home-featured-product.cheese .content-container img.badge-green {
        max-width: 150px;
        left: -250px;
        top: -350px;
        bottom: 0;
    }
    section.home-featured-product.cheese .content-container img.badge-green {
        right: -250px;
        left: 0;
    }
    .content-container img {
        max-width: 250px;
    }
    section.home-featured-product img.pink-star#pink-star-one {
        left: -450px;
    }
    section.home-featured-product img.pink-star#pink-star-two {
        left: 450px;
    }
/*
    section.home-video {
        height: 400px;
    }
*/
    .content-container img:not(.badge-pink):not(.badge-green) {
        height: auto;
    }
}

@media (max-width: 500px) {
    section.home-section .text-container img {
        left: 10px;
        bottom: 0px;
    }
    .home-image {
        max-width: 220px;
    }
    #home-cheesy-nooch {
        top: -400px;
        bottom: 0;
        margin: auto;
        left: -200px;
        right: 0;
/*
        top: auto;
        bottom: -85px;
        left: -80px;
*/
    }
    #home-bacon-nooch {
/*
        right: -100px;
        bottom: 325px;
        top: auto;
*/
        right: -250px; 
        top: 0;
        left:0;
        bottom: -300px;
        margin: auto;
    }
    section.home-section .text-container img#star-one {
        top: 250px;
        left: 15px;
    }
    section.home-section .text-container img#star-three {
        top: -40px;
    }
    section.home-section .text-container img {
        width: 250px;
        bottom: 0px;
    }
    section.home-section .text-container img#star-two {
        bottom: -50px;
        right: 30px;
        left: auto;
    }
    section.home-section .text-container img#nooch-home-man {
        left: 0;
        right: 0;
        margin: auto;
        bottom: 0px;
        top: auto;
        max-width: 200px;
    }
    .home-blog .recipes-slider {
        height: 113px;
    }
    .home-blog .recipes-slider span {
        font-size: 7.75rem;
        line-height: 4.3rem;
    }
    .home-blog .recipes-slider.marquee .track img {
        height: 110px;
        right: -60px;
        bottom: 6px;
        display: none;
    }
    .home-blog .recipes-slider.marquee .track span {
/*        margin: 10px!important;*/
        margin: 0px!important;
    }
    section.home-featured-product.bacon .content-container img.badge-pink, section.home-featured-product.cheese .content-container img.badge-green {
        max-width: 125px;
    }
    section.home-featured-product img.pink-star#pink-star-one {
        left: -250px;
        top: -100px;
    }
    section.home-featured-product img.pink-star#pink-star-two {
        left: 250px;
    }
/*
    section.home-video {
        height: 300px;
    }
*/
    .content-container .button-container {
        position: absolute;
        bottom: 50px;
    }
    section.home-featured-product.bacon a.clear-button {
        color: var(--yellow);
        border: 2px solid var(--yellow);
        background-color: rgba(206, 15, 105, 0.75);
    }
    section.home-featured-product.cheese a.clear-button {
        color: var(--yellow);
        border: 2px solid var(--yellow);
        background-color: rgba(0, 100, 80, 0.75);
    }
/*
    .home-container .lettering {
        z-index: 2;
    }
*/
    #nooch-home-man {
        z-index: 3;
    }
} 

@media (max-width: 350px) {
/*
    .home-image {
        max-width: 170px;
    }
*/
    .home-blog h2 {
        font-size: 3rem;
        line-height: 3rem;
    } 
    section.home-featured-product img.pink-star#pink-star-one {
        left: -200px;
    }
    section.home-featured-product img.pink-star#pink-star-two {
        left: 200px;
    }
    section.home-section .text-container img#nooch-home-man {
        max-width: 150px;
    }
}



